<div class="object" data-shape="ball">
  <!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="30mm"
   height="30.027609mm"
   viewBox="0 0 30.000001 30.027608"
   version="1.1"
   id="svg5"
   inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
   xml:space="preserve"
   sodipodi:docname="ball.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><sodipodi:namedview
     id="namedview7"
     pagecolor="#f0f0f0"
     bordercolor="#ffffff"
     borderopacity="1"
     inkscape:showpageshadow="0"
     inkscape:pageopacity="0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#505050"
     inkscape:document-units="mm"
     showgrid="true"
     inkscape:zoom="1.0154442"
     inkscape:cx="-9.3555116"
     inkscape:cy="226.00946"
     inkscape:current-layer="layer1"><inkscape:grid
       type="xygrid"
       id="grid132"
       dotted="true"
       empspacing="10"
       units="mm"
       spacingx="1"
       spacingy="1"
       enabled="false"
       originx="-29.027268"
       originy="-78.670156" /></sodipodi:namedview><defs
     id="defs2"><linearGradient
       inkscape:collect="always"
       id="linearGradient4198"><stop
         style="stop-color:#d9eef0;stop-opacity:1;"
         offset="0"
         id="stop4194" /><stop
         style="stop-color:#7ac4c5;stop-opacity:1;"
         offset="0.70250523"
         id="stop5493" /><stop
         style="stop-color:#3e8788;stop-opacity:1;"
         offset="1"
         id="stop4196" /></linearGradient><linearGradient
       id="linearGradient4184"
       inkscape:swatch="solid"><stop
         style="stop-color:#ffffff;stop-opacity:1;"
         offset="0"
         id="stop4182" /></linearGradient><radialGradient
       inkscape:collect="always"
       xlink:href="#linearGradient4198"
       id="radialGradient4202"
       cx="83.882492"
       cy="130.77266"
       fx="83.882492"
       fy="130.77266"
       r="72.731003"
       gradientTransform="matrix(1.4155055,0.01071665,-0.01024344,1.3530021,-33.514068,-47.133353)"
       gradientUnits="userSpaceOnUse"
       spreadMethod="pad" /></defs><g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-29.027267,-78.670171)"><g
       id="g2559"
       transform="matrix(0.20689977,0,0,0.20689977,23.021532,62.393331)"><path
         id="path302"
         style="display:inline;fill:url(#radialGradient4202);fill-opacity:1;fill-rule:nonzero;stroke-width:0.352778"
         d="m 99.1875,78.912109 c -6.041918,0.120299 -12.037218,1.32128 -17.910156,2.822266 -3.042473,0.737152 -5.864244,2.1115 -8.782348,3.207524 -5.360038,2.239005 -10.30053,5.359697 -14.916892,8.834093 -8.956932,6.794268 -16.231082,15.761358 -21.111307,25.884168 -3.160524,6.54891 -5.405981,13.67329 -6.564251,20.92085 -0.612816,5.15486 -0.591031,10.36261 -0.449421,15.56157 0.08676,3.06068 0.377005,6.18164 1.076172,9.16797 2.437854,11.92301 7.777182,23.29286 15.731995,32.58103 3.833863,4.52902 8.234935,8.56851 12.96527,12.14358 3.606141,2.42846 7.250559,4.84418 11.207101,6.66918 2.535401,1.106 5.048511,2.27966 7.691306,3.10967 3.539135,1.40594 7.313132,2.1009 11.046186,2.78027 2.368834,0.43533 4.785658,0.58679 7.123767,1.13814 3.703483,0.14413 7.578968,-0.0309 11.291198,-0.26648 4.41337,-0.37687 8.79934,-1.1434 13.06596,-2.34065 6.98827,-1.7293 13.5022,-4.97112 19.6144,-8.71495 3.66184,-2.2887 7.08887,-4.7597 10.19471,-7.73451 1.36826,-1.31695 2.81953,-2.57706 3.97826,-4.08794 0.0284,-0.79179 0.97458,-0.70236 1.31956,-1.27268 2.53804,-2.7414 4.61693,-5.87154 6.69087,-8.96866 3.41927,-5.13139 6.12729,-10.76682 7.98728,-16.57633 2.38997,-7.40353 3.31024,-15.15689 3.3299,-22.88975 0.0614,-6.11685 -0.57137,-12.24092 -2.22217,-18.16367 -2.5707,-9.42445 -6.88469,-18.41483 -13.01736,-26.08045 -4.07741,-5.11144 -8.83395,-9.700763 -14.01705,-13.719291 -3.9133,-2.669479 -7.94685,-5.180387 -12.20162,-7.272947 -4.0487,-2.003426 -8.42259,-3.241793 -12.75794,-4.456961 -3.21304,-0.906731 -6.5207,-1.642309 -9.8186,-1.909901 -3.49968,-0.334646 -7.00904,-0.450885 -10.54482,-0.365141 z" /><path
         style="fill:#000000;stroke-width:0.352778"
         d="m 94.630967,223.73096 c -6.982262,-0.84387 -15.662433,-3.02154 -20.46111,-5.13326 -0.873125,-0.38423 -2.143125,-0.93552 -2.822223,-1.22509 -4.388213,-1.87116 -12.610665,-7.13986 -16.910127,-10.8355 -2.129963,-1.83083 -7.169545,-6.99058 -9.109717,-9.32693 -1.013534,-1.22049 -3.018977,-4.00029 -4.456543,-6.17731 -17.290562,-26.18459 -15.498363,-61.21525 4.383984,-85.69016 2.415748,-2.97375 8.378938,-8.779459 11.452126,-11.149682 1.552222,-1.197165 2.980972,-2.301564 3.175,-2.454218 0.194028,-0.152654 1.781528,-1.164802 3.527778,-2.249212 19.30431,-11.987883 43.042885,-14.133664 64.588215,-5.838271 5.89703,2.270481 14.12867,6.904069 17.66673,9.944604 0.22578,0.194028 0.93302,0.749653 1.57166,1.234722 5.015,3.809107 12.15226,11.858217 15.78245,17.798797 7.56567,12.38078 11.00959,24.49635 11.00582,38.71806 -0.004,14.82963 -3.90618,27.92525 -11.96225,40.14425 -2.24188,3.40035 -6.61942,8.81945 -7.12436,8.81945 -0.18436,0 -0.33521,0.17331 -0.33521,0.38513 0,0.42823 -3.26382,3.67653 -5.84229,5.8145 -0.91876,0.7618 -1.84552,1.55528 -2.05945,1.76329 -0.565,0.54934 -4.50371,3.2824 -7.02996,4.87807 -2.17631,1.37465 -8.74786,4.7979 -9.21042,4.7979 -0.13462,0 -1.06802,0.37384 -2.07424,0.83077 -1.67342,0.7599 -3.09014,1.22765 -8.70864,2.87528 -4.58846,1.34556 -9.63166,1.97808 -16.75695,2.10167 -3.880551,0.0673 -7.611175,0.0552 -8.290273,-0.0268 z m 13.107923,-3.66798 c 4.06726,-0.33027 6.15999,-0.69014 11.23374,-1.93177 3.87396,-0.94803 5.3651,-1.43657 7.13897,-2.33894 0.33691,-0.17139 0.82538,-0.31162 1.08548,-0.31162 0.63885,0 9.55618,-4.52789 11.49036,-5.83438 0.85071,-0.57463 1.89928,-1.28291 2.33016,-1.57395 1.11353,-0.75215 2.60037,-1.8514 3.34018,-2.46945 5.26537,-4.3988 5.30652,-4.43673 5.30652,-4.89207 0,-0.21978 0.15239,-0.39959 0.33864,-0.39959 0.38895,0 2.66705,-2.39229 5.20708,-5.46806 12.99271,-15.73312 18.25453,-37.08776 14.16517,-57.48813 -0.67344,-3.35954 -2.68211,-10.12465 -3.67043,-12.36187 -3.06099,-6.92897 -5.29476,-10.79582 -9.37431,-16.22777 -3.68955,-4.91266 -7.98575,-9.096464 -14.60365,-14.221563 -1.1565,-0.895629 -7.19559,-4.448094 -9.55905,-5.623067 -4.55778,-2.265852 -11.07701,-4.586544 -15.13539,-5.387837 -1.16417,-0.229856 -2.83105,-0.558913 -3.70417,-0.731238 -5.45604,-1.076843 -17.771435,-1.278745 -21.924497,-0.359438 -0.844374,0.186909 -2.805226,0.609396 -4.357448,0.938862 -8.433495,1.790044 -15.465135,4.661245 -22.984988,9.38537 -2.831413,1.778752 -2.305259,1.393546 -6.295567,4.609081 -13.908627,11.20808 -22.967339,27.65897 -25.206868,45.7764 -0.475629,3.84777 -0.474627,12.41099 0.0018,16.24629 1.460832,11.75732 5.713395,22.60547 12.772489,32.58218 2.73637,3.86735 9.725339,11.12542 13.138033,13.6439 1.164167,0.85912 2.196042,1.6531 2.293056,1.76439 0.316618,0.36321 6.838431,4.3108 8.466666,5.12479 6.994564,3.49675 10.885032,4.8312 19.931944,6.83678 4.193688,0.92968 12.14638,1.2348 18.57599,0.7127 z"
         id="path300" /></g></g></svg>
</div>
