<div id="flash_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Flash Cards</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h5>
          &rarr; = NEXT<br/>
          &larr; = PREV<br/>
          &uarr; = Save for Review<br/>
          &darr; = Oops! remove that last one saved<br/>
          <span class="ms-5 small">(if it matches the one on screen)</span>
        </h5>
        <hr/>

        <p>A <b>'Review'</b> button and the number of items saved for review will appear as soon as any are saved.
        Hit the button or <kbd>Enter</kbd> to start the review deck.<br/></p>
        
        <p>When reviewing, the button with say <b>'Restart'</b>. 
        Hit the button or <kbd>Enter</kbd> to return to the original deck.<br/></p>
        
        <p>You can also save cards for further review while reviewing.</p>
      </div>
    </div>
  </div>
</div>
