<div id="names_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Names</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>
          Paste a list of names separated by commas. Then click the "Print" 
          button to print name tags. Names will be printed as large as will fit 
          in each 54mm x 85mm area. 
        </p>
      </div>
    </div>
  </div>
</div>
