<div id="QnA_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Q & A</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        This is a set of images taken from the A-GO brain box. 
        The cards are too small for more than one person to see at a time so
        this is a way to let the whole class see what you're talking about.
      </div>
    </div>
  </div>
</div>
