<div id="type_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Type</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This is a simple rich text editor. There are many rich-text editors
          out there. This one just allows you to SAVE the text as an html file 
          or COPY the html to the clipboard.
        </p>
      </div>
    </div>
  </div>
</div>
