<div id="write_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Write</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Click one of the lower case letters on the left and an animated gif
          will appear on the right to demonstrate stroke order. You can also hit
          a key on the keyboard to display a letter or hit Backspace to clear 
          the animation.
        </p>
        <p class="small">Eventually this will be moved to the students' page where it belongs.</p>
      </div>
    </div>
  </div>
</div>
