<div id="grid_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">GRID</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This can be used to generate a grid of selected images/text. 
          <ul>
            <li>You can create a 3x3 grid to play a brief Tic-Tac-Toe activity 
                for review. 
            </li>
            <li>You can large grid for a group of students to use as a game 
              board for Connect four.
            </li>
            <li>
              You can create a 5x5 grid for Bingo cards.
            </li>
          </ul>

          Tap the Shuffle button for a different arrangement.
        </p>
      </div>
    </div>
  </div>
</div>
