<%- include('../head'); -%>
<style>
  #sheet {
    width: 21cm;
    height: 29.7cm;
  }
  @media print {
    #menucontainer {
      display: none;
    }
  }

  [contenteditable="true"] {
    cursor:pointer;
    color: black;
  }

  [contenteditable="true"].single-line {
    white-space: nowrap;
    overflow: hidden;
  } 
  [contenteditable="true"].single-line br {
      display:none;
  }
  [contenteditable="true"].single-line * {
      display:inline;
      white-space:nowrap;
  }
  [contenteditable="true"].multi-line {
    height: calc(100% - 1.5rem);
    white-space: pre-wrap;
    overflow: hidden;
  }

  body{background-image: none !important;}
</style>


<body>
  <div id="menucontainer" class="bg-light" style="position:fixed;top:0;"><!-- to hide the entire menu when printing -->
    <div id="menu" class="d-flex flex-column">
      <button class="btn btn-sm btn-outline-secondary p-0" data-bs-toggle="modal" data-bs-target="#lp_modal">
        <i class="material-icons">info</i>
      </button>

      <button id="print" class="btn btn-sm btn-outline-success py-0 mt-4">
        <i class="material-icons">print</i>
      </button>

      <button class="btn btn-sm btn-outline-secondary py-0 mt-4" onclick="document.execCommand('insertUnorderedList', false, null);">
        <i class="material-icons">format_list_bulleted</i>
      </button>
      <button class="btn btn-sm btn-outline-secondary py-0" onclick="document.execCommand('insertOrderedList', false, null);">
        <i class="material-icons">format_list_numbered</i>
      </button>
      <button class="btn btn-sm btn-outline-secondary py-0" onclick="document.execCommand('justifyLeft', false, null);">
        <i class="material-icons">format_align_left</i>
      </button>
      <button class="btn btn-sm btn-outline-secondary py-0" onclick="document.execCommand('justifyCenter', false, null);">
        <i class="material-icons">format_align_center</i>
      </button>

      <!-- dropdown list for font size and color picker -->

      <div class="dropdown">
        <button class="btn btn-sm btn-outline-secondary py-0 px-3 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="material-icons">format_size</i></button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><button class="dropdown-item" onclick="document.execCommand('fontSize', false, '1')">1</button></li>
          <li><button class="dropdown-item" onclick="document.execCommand('fontSize', false, '2')">2</button></li>
          <li><button class="dropdown-item" onclick="document.execCommand('fontSize', false, '3')">3</button></li>
          <li><button class="dropdown-item" onclick="document.execCommand('fontSize', false, '4')">4</button></li>
          <li><button class="dropdown-item" onclick="document.execCommand('fontSize', false, '5')">5</button></li>
          <li><button class="dropdown-item" onclick="document.execCommand('fontSize', false, '6')">6</button></li>
          <li><button class="dropdown-item" onclick="document.execCommand('fontSize', false, '7')">7</button></li>
        </ul>
      </div>

      <!-- button group -->
      <button data-value="black" class="textcolor btn btn-sm btn-outline-secondary text-body py-0 px-3">
        <i class="material-icons">format_color_text</i>
      </button>

      <div class="btn-group" role="group">
        <button data-value="red" class="textcolor btn btn-sm btn-outline-secondary text-danger py-0 px-1">
          <i class="material-icons">format_color_text</i>
        </button>
  
        <button data-value="blue" class="textcolor btn btn-sm btn-outline-secondary text-primary py-0 px-1">
          <i class="material-icons">format_color_text</i>
        </button>
      </div>
      
      <button id="clear" class="btn btn-sm btn-outline-danger mt-4" style="display:none;">CLEAR</button>

    </div>
  </div>


<!-- ####################################################################### -->
  <div id="sheet" class="container-fluid UD bg-white text-muted border border-white rounded-3 my-3">
    <div class="row" style="height:5%;">

      <div class="col-2 border rounded-3">
        Date:
        <div contenteditable="true" class="single-line"></div>
      </div>
      <div class="col-2 border rounded-3">
        Class:
        <div contenteditable="true" class="single-line"></div>
      </div>
      <div class="col-8 border rounded-3">
        Today's Goal:
        <div contenteditable="true" class="single-line"></div>
      </div>

    </div>
    <div class="row" style="height:11%;">

      <div class="col-3 border rounded-3">
        <span class="fs-3">① </span>
        <u class="align-top">Get Started</u>
        <p class="small">Greetings, Day/Date, Weather, Small Talk, Today's Word</p>

      </div>
      <div class="col-9 border rounded-3" style="position:relative;">
        <div class="editor multi-line" contenteditable="true"></div>
        <div class="small" style="position:absolute;bottom:0;">
          挨拶・曜日・日付・天気・スモールトーク・今日の英単語
        </div>
      </div>

    </div>
    <div class="row" style="height:15%;">

      <div class="col-3 border rounded-3">
        <span class="fs-3">② </span>
        <u class="align-top">Warm Up / Review</u>
        <p class="small">Practice what you learned last time in pairs or groups. Speaking time!</p>
      </div>
      <div class="col-9 border rounded-3" style="position:relative;">
        <div class="editor multi-line" contenteditable="true"></div>
        <div class="small" style="position:absolute;bottom:0;">
          前回学んだことを復習・ペアやグループで練習・スピーキングタイム
        </div>
      </div>

    </div>
    <div class="row" style="height:29%;">

      <div class="col-3 border rounded-3">
        <span class="fs-3">③ </span>
        <u class="align-top">Something New</u>
        <p class="small">Focus on today's goal. Listen, watch, think, ask, discuss, learn.</p>
        <p class="small">今日の目標に集中する・聞く・見る・考える・尋ねる・話す・学ぶ</p>
        <p class="small">JTE リード<br/>ALT モデリング</p>
      </div>
      <div class="col-9 border rounded-3" style="position:relative;">
        <div class="editor multi-line" contenteditable="true"></div>
        <div class="bg-white" style="height:6px;position:absolute;bottom:-3px;left:50px;right:50px;">&nbsp;</div>
      </div>

    </div>
    <div class="row" style="height:29%;">

      <div class="col-3 border rounded-3">
        <span class="fs-3">④ </span>
        <u class="align-top">Something Fun</u>
        <p class="small">Do an activity to practice what you learned today.
          Switch to a different topic. Try out new things. Have fun!</p>
        <p class="small">今日学んだことを練習・違うトピックに移る・新しいことを試す・楽しむ</p>
        <p class="small">ALT リード<br/>JTE 生徒をサポート</p>
      </div>
      <div class="col-9 border rounded-3">
        <div class="editor multi-line" contenteditable="true"></div>
      </div>

    </div>
    <div class="row" style="height:11%;">

      <div class="col-3 border rounded-3">
        <span class="fs-3">⑤ </span>
        <u class="align-top">Think Back/Ahead</u>
        <p class="small">What did you learn today? When's the next class? Good-byes.</p>
      </div>
      <div class="col-9 border rounded-3" style="position:relative;">
        <div class="editor multi-line" contenteditable="true"></div>
        <div class="small" style="position:absolute;bottom:0;">
          今日何を学んだか？友達と共有・次回の授業日・さようなら
        </div>
      </div>

    </div>

  </div>

<%- include('../modals/modal_lp'); -%>


<script>
$(function(){
  let lp = localStorage.getItem('lp');
  if (lp) {
    $('#sheet').html(lp);
    setTitle();
    $('#clear').show();
  }

  $("#print").on('click', ()=>{
    window.print();
  });

  $(".textcolor").on('mousedown', function(e){
    e.preventDefault();
    let color = $(this).attr('data-value');
    document.execCommand('foreColor', false, color);
  });

  $("#clear").on('click', function(){
    $(".single-line").empty();
    $(".editor").empty();
    $(this).hide();
  });

  $(".editor, .single-line").on('blur', function(){
    setTitle();
    localStorage.setItem('lp', $('#sheet').html());
  });

  $('.editor').on('keydown', function(e) {
    if (e.key === 'Tab') {
      e.preventDefault();
      document.execCommand('insertText', false, '    ');
    }
    // CTRL + SHIFT + R
    if (e.ctrlKey && e.shiftKey && e.key === 'R') {
      e.preventDefault();
      document.execCommand('justifyRight', false, null);
    }
    // CTRL + SHIFT + E
    if (e.ctrlKey && e.shiftKey && e.key === 'E') {
      e.preventDefault();
      document.execCommand('justifyCenter', false, null);
    }
    // CTRL + SHIFT + L
    if (e.ctrlKey && e.shiftKey && e.key === 'L') {
      e.preventDefault();
      document.execCommand('justifyLeft', false, null);
    }
  });

  // call setTitle when date or grade is changed
  $(".single-line").on('blur', function(){
    setTitle();
  });

  function setTitle(){
    let date = $(".single-line").eq(0).text().replace(/[^a-zA-Z0-9]/g, '-');
    let grade = $(".single-line").eq(1).text().replace(/[^a-zA-Z0-9]/g, '-');
    document.title = `LP_${grade}_${date}`;
  }

});
</script>


  
<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
