<%- include('../head'); -%>
<style>
  div{
    border:1px solid gray;
  }
</style>

<div class="d-flex flex-wrap" style="width: 500px;">
  <div class="d-flex flex-wrap" style="">
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
    <div style="flex: 0 0 auto;">grid1 item</div>
  </div>
  <div style="flex: 1 1 auto; display: grid;">
    This is also a grid1 item with flex-grow-1 but it is not itself a flex 
    container so, when the content is larger than the container, it will wrap
    This is also a grid1 item with flex-grow-1 but it is not itself a flex 
    container so, when the content is larger than the container, it will wrap
    This is also a grid1 item with flex-grow-1 but it is not itself a flex 
    container so, when the content is larger than the container, it will wrap
    This is also a grid1 item with flex-grow-1 but it is not itself a flex 
    container so, when the content is larger than the container, it will wrap
  </div>
</div>

<%- include('../foot.ejs') -%>