<%- include('../../head'); -%>

<style>
  .gradient{
  background-image: linear-gradient(to right, 
                                  #999 5%, 
                                  rgba(255, 255, 255, 0) 35%, 
                                  rgba(255, 255, 255, 0) 65%, 
                                  #999 95%);
  }
</style>

<body>

  <div id="info" class="container">
    <div class="row pb-5">

      <div class="col text-center">
        <div class="display-1 UD">
          <%- __('activity.alphabetical.title') %>
        </div>
        <%- __('activity.alphabetical.description') %>
      </div>

    </div>
    <div class="row text-center">
      <div id="result" class="col" style="display:none;"></div>
      <div id="controls" class="col d-flex justify-content-center">
        <div class="d-flex align-items-center">
          <select id="timeLimit" class="form-select form-select-lg" aria-label="time limit">
            <option value="10">10 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60" selected>1 minute</option>
            <option value="90">90 seconds</option>
            <option value="120">2 minutes</option>
            <option value="180">3 minutes</option>
            <option value="240">4 minutes</option>
            <option value="300">5 minutes</option>
          </select>
          <button id="start" aria-label="next" class="btn btn-lg btn-success ms-3">
            START
          </button>
        </div>

      </div>
    </div>
  </div>

  <div id="content" class="container" style="display:none;">
    <div class="row g-0">
      <div id="remaining"  class="col-1 text-primary UD"></div>
      <div class="col-10">
        <div id="wheel" class="d-flex UD shadow m-5" style="overflow: hidden;"></div>
      </div>
      <div id="timer" class="col-1 text-primary UD"></div>
    </div>
  </div>


<script>
$(function(){
  let finished = false;
  let timeLimit = 60; // seconds
  let starttime = 0;  // defined when the user clicks start

  let deck = [];
  let letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j',
              'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't',
              'u', 'v', 'w', 'x', 'y', 'z'];
  let l = '';


  underscore = ()=>{
    let wheelwidth = $("#wheel").width();
    let offset = $("#wheel").scrollLeft();
    let letterOffset = $(`#${l}`).offset().left;
    $(`#${l}`).text('_');
    $("#wheel").animate({ scrollLeft: offset + letterOffset - wheelwidth / 2 }, 100);
  }


  getNextLetter = async (k)=>{
    if (deck.length == 0){
      finished = true;
      return;
    }
    else {
      if (k == l){
        await $(`#${l}`).text(l).removeClass('text-danger'); // show the letter again
        l = deck.pop();
        underscore();
      }
      else {
        $(`#${l}`).text(l).addClass('text-danger');
      }
    }
  }


  $(document).on('keyup', function(e){
    getNextLetter(e.key);
  });


  function updateAnimation() {
    if (!finished && new Date() - starttime < timeLimit * 1000) {
      $("#timer").html(`<span class="display-3">${(timeLimit - Math.floor((new Date() - starttime) / 1000)).toString()}</span><br/>seconds left`);
      requestAnimationFrame(updateAnimation); // Keep the animation going
    } 
    else {
      $("#info").show();
      $("#content").hide();
      if (finished) {
        $("#result").html(`<div class="display-3 alert-success rounded-3">You got them all!</div>`).show();
      } else {
        let num = 25 - deck.length; // 25 assumes there is one letter still open
        let str = 'You got ' + num.toString() + ' letter';
        if (num > 1) str += 's';
        str += '!';

        $("#result").html(`<div class="display-3 alert-primary rounded-3">${str}</div>`).show();
      }
    }
  }


  start = () =>{
    $("#info").hide();
    $("#content").show();

    $("#wheel").empty(); // has to be reset each time or '_' will remain
    for (let i of letters){
      $("#wheel").append(`<div id="${i}" class="letter m-3" style="font-size:10rem;">${i}</div>`);
    }

    timeLimit = parseInt($("#timeLimit").val());
    starttime = new Date();
    finished = false;
    
    deck = letters.slice(0);
    FYshuffle(deck);
    l = deck.pop();
    underscore();
    requestAnimationFrame(updateAnimation);
  }


  $("#start").on('click', function(){
    start();
  });
  
  $("#info").show();

});

</script>

<%- include('../../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
