<%- include('../../head'); -%>
<body>

  <div class="d-flex">
    <a href="/abc" class="btn btn-sm btn-outline-secondary py-0">
      <i class="material-icons">home</i>
    </a>
  </div>

  <div id="menu" class="container-fluid d-block text-center" style="user-select: none;">
    <div class="row">
      <div class="col d-flex flex-wrap justify-content-center">
        <div class="display-1 UD"><%- __('activity.haystack.title') %></div>
        <div id="result" class="mx-5 p-3 alert-success rounded-3 text-center display-5 UD mb-3 mt-auto" style="display:none;">
          <span id="time"></span> seconds!
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%- __('activity.haystack.description') %>
      </div>
    </div>
    <div class="row UD">
      <div id="cap" class="col d-flex flex-wrap justify-content-center"></div>
      <div id="lc" class="col d-flex flex-wrap justify-content-center"></div>
    </div>
  </div>

  <div id="gridContainer" class="container-fluid">
    <div id="grid" class="d-flex flex-wrap UD"></div>
  </div>



<script>
$(function(){
  // get times from local storage
  let times = JSON.parse(localStorage.getItem('haystack'));
  times = times ? times : {};
  for (let i in times){
    if (typeof times[i] == 'string') times[i] = parseFloat(times[i]); // for old bug
  }
  
  var cap = ["A", "B", "C", "D", "E", "F", "G", "H", "I",
                 "J", "K", "L", "M", "N", "O", "P", "Q", "R",
                 "S", "T", "U", "V", "W", "X", "Y", "Z"];

  var lc = ["a", "b", "c", "d", "e", "f", "g", "h", "i",
                 "j", "k", "l", "m", "n", "o", "p", "q", "r",
                 "s", "t", "u", "v", "w", "x", "y", "z"];

  for (let i of cap){
    $("#cap").append(
      `<button data-value="${i}" class="btn btn-outline-primary letter m-1" style="width:60px;">
          <span style="font-size:2.8rem;">${i}</span><br/>
          <span class="small time">${times[i] ? times[i].toFixed(2) : ''}</span>
       </button>`);
  }
  for (let i of lc){
    $("#lc").append(
      `<button data-value="${i}" class="btn btn-outline-success letter m-1" style="width:60px;">
         <span style="font-size:2.8rem;">${i}</span><br/>
         <span class="small time">${times[i] ? times[i].toFixed(2) : ''}</span>
       </button>`);
  }


  var sets = {
    "a": ["d", "q", "o"],
    "b": ["d", "p", "h"],
    "c": ["e", "o", "u"],
    "d": ["a", "b", "q"],
    "e": ["c", "o", "u"],
    "f": ["t", "j", "h"],
    "g": ["q", "j", "p"],
    "h": ["b", "f", "k"],
    "i": ["j", "l", "k"],
    "j": ["f", "g", "i"],
    "k": ["h", "x", "l"],
    "l": ["i", "k", "h"],
    "m": ["n", "w", "h"],
    "n": ["m", "u", "h"],
    "o": ["a", "c", "e"],
    "p": ["b", "g", "q"],
    "q": ["a", "p", "g"],
    "r": ["n", "h", "u"],
    "s": ["c", "z", "e"],
    "t": ["f", "i", "j"],
    "u": ["w", "n", "r"],
    "v": ["w", "n", "u"],
    "w": ["m", "n", "v"],
    "x": ["k", "y", "v"],
    "y": ["x", "u", "v"],
    "z": ["s", "x", "y"],
    "A": ["V", "Y", "M"],
    "B": ["D", "P", "R"],
    "C": ["G", "O", "U"],
    "D": ["O", "B", "P"],
    "E": ["F", "H", "L"],
    "F": ["E", "H", "L"],
    "G": ["C", "O", "U"],
    "H": ["F", "E", "L"],
    "I": ["J", "L", "H"],
    "J": ["I", "L", "U"],
    "K": ["X", "H", "R"],
    "L": ["I", "J", "H"],
    "M": ["W", "N", "V"],
    "N": ["M", "W", "V"],
    "O": ["Q", "D", "C"],
    "P": ["D", "B", "R"],
    "Q": ["O", "D", "C"],
    "R": ["K", "B", "P"],
    "S": ["Z", "J", "C"],
    "T": ["F", "I", "L"],
    "U": ["V", "O", "C"],
    "V": ["U", "W", "N"],
    "W": ["M", "N", "V"],
    "X": ["K", "Y", "V"],
    "Y": ["V", "U", "X"],
    "Z": ["S", "X", "Y"]
  }

  var timer = 0;

  $(".letter").on('click', function(){
    timer = Date.now(); 
 
    let letter = $(this).data('value');

    $(".letter").removeClass('alert-primary alert-success');

    if ($(this).parent().attr('id') == 'lc') $(this).addClass('alert-success');
    else $(this).addClass('alert-primary');

    $("#grid").empty();
    let deck = [];
    for (let i of sets[letter]){
      deck.push(i);
      deck.push(i);
      deck.push(i);
      deck.push(letter);
    }
    deck = deck.concat(deck);
    FYshuffle(deck);

    // NOW BUILD THE GRID ////////////////////////////////////////////////////////
    for (let i = 0; i < deck.length; i++){
      $("#grid").append(
       `<div class="col-2" style="height:24vh;">
          <div data-value="${deck[i]}" class="select display-1 text-center rounded-3" style="height:80%;cursor:pointer;">
            ${deck[i]}
          </div>
        </div>`);
    }
    $(".select").on('click', function(){
      if ( $(this).data('value') == letter) {
        $(this).toggleClass('alert-primary');
        if ($(this).data('value') == letter) $(this).addClass('alert-primary');
        if ($('.select.alert-primary').length == 6) {

          let time = (Date.now() - timer) / 1000;
          // if there is a previous time, and this time is less, use this time
          if (times[letter]){
            if (time < parseFloat(times[letter])) {
              times[letter] = time;
              localStorage.setItem('haystack', JSON.stringify(times));
              $(`button[data-value="${letter}"] .time`).html(`${time.toFixed(2)}`);
            }
          }
          // if there is no previous time, use this time
          else if (!times[letter]) {
            times[letter] = time;
            localStorage.setItem('haystack', JSON.stringify(times));
            $(`button[data-value="${letter}"] .time`).html(`${time.toFixed(2)}`);
          }
          
          $("#menu").removeClass('d-none').addClass('d-block');
          $("#grid").empty();
          $("#time").text(time);
          $("#result").show();
        }
      }
      else {
        $(this).addClass('alert-danger');
        setTimeout(function(){
          $(".select").removeClass('alert-danger');
          $(".select").removeClass('alert-primary');
        }, 500);
      }
    });

    $("#menu").removeClass('d-block').addClass('d-none');
    $("#grid").removeClass('d-none').addClass('d-flex');

  });



});
</script>

<%- include('../../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
