<%- include('../head'); -%>
<style>
  #flash{
    position:relative;
    font-family: "UD Digi Kyokasho NP-B", sans-serif;
    font-size: 20rem;
    font-weight:bold;
    display:inline-block;
    text-shadow: 5px 5px 10px #99c;
    -webkit-text-stroke: 5px DarkSlateBlue;
    color:SlateBlue;
  }

  #flash .color{
    font-size: 10vw;
    color: white;
    text-shadow: none;
    -webkit-text-stroke: 3px black;
  }

  #flash img{
    position:absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    height:90%;
    max-width:90%;
    z-index:-1;
  }

  /* add box shadow to #flash img if not .svg */
  #flash img:not([src*=".svg"]){
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }

  .review{
    color:LimeGreen !important;
    text-shadow: 5px 5px 10px #9c9 !important;
    -webkit-text-stroke: 5px ForestGreen !important;
  }
</style>

<body>
<a href="/teachers" class="btn btn-sm btn-outline-secondary py-0">
  <i class="material-icons">close</i>
</a>

<button class="btn btn-sm btn-outline-secondary p-0" data-bs-toggle="modal" data-bs-target="#flash_modal">
  <i class="material-icons">info</i>
</button>

<button id="review" class="btn btn-sm btn-outline-success" style="display:none;"></button>

<form id="flashForm" action="flash" method="GET" class="d-none">
  <input type="hidden" value="" name="setName">
  <input type="hidden" value="" name="deckType">
  <input type="hidden" value="" name="order">
  <input type="hidden" value="" name="showtext">
</form>

<input type="checkbox" id="shuffle" class="ms-2">
<label for="shuffle">Shuffle</label>

<input type="checkbox" id="showtext" class="ms-2">
<label for="showtext">Text</label>


<div id="content" style="height:100vh;width:100%;">
  <div id="flash" class="text-center p-4" style="height:75%;width:100%;"></div>
  <div id="text" class="text-center display-1 UD" style="height:20%;width:100%;"></div>
</div> 

<%- include ("../modals/modal_flash.ejs") %>

<script>
$(function(){
  var url = window.location.href;
  const searchParams = new URLSearchParams(url.substring(url.indexOf('?')));
  const setName = searchParams.get('setName');
  const deckType = searchParams.get('deckType');
  var deck = getDeck({setName, deckType});
  var originalDeck = deck;
  var deckLength = originalDeck.length;
  var review = [];
  var card = 0;
  var reviewing = false;

  const order = searchParams.get('order');

  var isNum = setName.startsWith('_') || setName == "tens_teens"; // for sorting
  if (order == "shuffled") {
    $("#shuffle").prop('checked', true);
    deck = FYshuffle(deck);
  }
  else if (order == "alphabetical"){
    $("#shuffle").prop('checked', false);
    if(isNum) deck.sort(function(a, b){
      return a.name - b.name}); // sort numerically
    else {
      deck.sort(function(a, b){ // sort alphabetically
        var nameA=a.name.toLowerCase(), nameB=b.name.toLowerCase();
        if (nameA < nameB) return -1;
        if (nameA > nameB) return 1;
        return 0;
      });
    }
  }
  else {
    $("#shuffle").prop('checked', false);
  }


  function start(){
    if (reviewing){
      deck = originalDeck.slice();
      card = 0;
      reviewing = false;
      $("#review").hide();
    }
    else if(review.length > 0){ // set the review deck as the main deck
      reviewing = true;
      deck = review.slice();
      card = 0;
      review = [];
      $("#review").html("Restart");
    }

    if(deck.length == deckLength){
      $("#flash").removeClass("review");
    }
    else{$("#flash").addClass("review")}

    $("#flash").html( deck[card].image );
    if ( $("#showtext").prop('checked') ) $("#text").html( deck[card].name );
  }


  $("#showtext").on('click', function(){
    $("#text").html( deck[card].name );
  });


  $("#shuffle").on('click', function(){
    $("#flashForm input[name='setName']").val(setName);
    $("#flashForm input[name='deckType']").val(deckType);
    $("#flashForm input[name='order']").val( $(this).prop('checked') ? "shuffled" : "alphabetical");
    $("#flashForm input[name='showtext']").val( $("#showtext").prop('checked') ? "true" : "false");
    $("#flashForm").submit();
  });


  $(document).on('keydown', (e)=>{
    if (e.key == "ArrowDown") e.preventDefault();
  });


  // HANDLE "UP" "DOWN" "LEFT" AND "RIGHT" KEY PRESSES
  $(document).on('keyup',function(e) {
    
    switch(e.key){
      case "Enter":
        start();
        break;
      case "ArrowUp":
        reviewing = false;
        review.push(deck[card]);
        $("#review").html(`Review ${review.length}`).show();
        break;
      case "ArrowDown":
        if(review.length > 0 && review[review.length - 1] == deck[card]){
          review.pop();
          if (review.length == 0) $("#review").hide();
          else $("#review").html(`Review ${review.length}`);
        }
        break;
      case "ArrowRight":
        if (card < deck.length - 1) {
          card += 1;
          $("#flash").html( deck[card].image );
          if ( $("#showtext").prop('checked') ) $("#text").html( deck[card].name );
        }
        break;
      case "ArrowLeft":
        if (card > 0 && deck.length > 0) {
          card -= 1;
          $("#flash").html( deck[card].image );
          if ( $("#showtext").prop('checked') ) $("#text").html( deck[card].name );
        }
        break;
    }
  });

  $("#review").on('click', function(){
    start();
  });

  start();

});
</script>


<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
