<%- include('../head'); -%>
<style>
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  @media print {
    #menucontainer, #print {
      display: none;
    }

    .txt {
      font-size: 80%; /* Adjust the percentage based on your preference */
    }

    #grid {
      position: absolute;
      bottom: 0;
    }
  }

  body{
    background-image: none !important;
  }
</style>


<body>
  <div id="menucontainer">
    <div id="menu" class="d-flex">
      <a href="/teachers" class="btn btn-sm btn-outline-secondary py-0 me-1">
        <i class="material-icons">close</i>
      </a>

      <button class="btn btn-sm btn-outline-secondary p-0 me-1" data-bs-toggle="modal" data-bs-target="#grid_modal">
        <i class="material-icons">info</i>
      </button>

      <div id="numselect" class="form-group me-1">
        <div class="d-flex rounded-3 border border-secondary">
          <label for="numCards" class="form-label px-1 mt-1 mb-0">Squares</label>
          <input id="numCards" type="number" class="form-control form-control-sm border-0" 
                min="4" style="width:4.5rem;" aria-label="number of squares">
        </div>
      </div>

      <button id="print" class="btn btn-sm btn-outline-success py-0">
        <i class="material-icons">print</i>
      </button>

    </div>
  </div>

  <div id="grid" class="d-flex flex-wrap justify-content-center"></div>


<script>
$(function(){
  var url = window.location.href;
  const searchParams = new URLSearchParams(url.substring(url.indexOf('?')));
  const setName = searchParams.get('setName');
  const deckType = searchParams.get('deckType');
  var spaces = searchParams.get('spaces');
  $("#numCards").val(spaces);
  const showText = searchParams.get('showText');
  var deck = getDeck({setName, deckType});

  getCols = (deckLength)=>{
    if (deckLength >= 144) return 12;
    if (deckLength >= 121) return 11;
    if (deckLength >= 100) return 10;
    if (deckLength >= 81) return 9;
    if (deckLength >= 64) return 8;
    if (deckLength >= 49) return 7;
    if (deckLength >= 36) return 6;
    if (deckLength >= 25) return 5;
    if (deckLength >= 16) return 4;
    if (deckLength >= 9) return 3;
    if (deckLength >= 4) return 2;
    if (deckLength >= 1) return 1;
    return 0;
  }

  setGrid = ()=>{
    spaces = parseInt($("#numCards").val());
    deck = FYshuffle(deck); // Shuffle first so cards duped/omitted are random.
    let workingdeck = FYshuffle(deck); 
    while (workingdeck.length < spaces) workingdeck = workingdeck.concat(deck);
    if (workingdeck.length > spaces) workingdeck = workingdeck.slice(0, spaces);
    workingdeck = FYshuffle(workingdeck); // shuffle so order doesn't repeat

    let cols = getCols(workingdeck.length);
    while (workingdeck.length % cols != 0) workingdeck.pop(); // reduce to a multiple of cols
    let colspan = (100 / cols - 1).toString(); // -1 to account for scrollbar

    let html = '<div class="border-top border-end d-flex flex-wrap justify-content-center">';
    for (let i = 0; i < workingdeck.length; i++){
      html +=
      `<div class="space border-start border-bottom text-center pt-3" 
            style="position:relative;width:${colspan}vw;height:${colspan}vw;">
          ${workingdeck[i].image}

          <div class="txt text-center UD w-100 position-absolute bottom-0 mb-1" 
              style="text-stroke: 3px white;-webkit-text-stroke: 3px #fff;display:none;">
            ${workingdeck[i].name}
          </div>
          <div class="txt text-center UD w-100 position-absolute bottom-0 mb-1" style="display:none;">
            ${workingdeck[i].name}
          </div>

        </div>`;

      if (i % cols == cols - 1) html += '</div><div class="border-end d-flex flex-wrap justify-content-center">';
    }
    html += '</div>';

    $('#grid').html(html);

    // add img-fluid to all images
    $('img').addClass('img-fluid w-75 position-absolute top-50 translate-middle').css('max-height', '75%');

    // set height of all each .space to be the same as its width
    if (showText == 'true') $('.txt').show();
  }


  $("#print").on('click', ()=>{
    window.print();
  });

  $("#numCards").on('change', ()=>{
    setGrid();
  });

  setGrid();
});

</script>
  
<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
