<%- include('../head'); -%>

<body>
  <div class="d-flex">
    <a href="/teachers" class="btn btn-sm btn-outline-secondary p-0">
      <i class="material-icons">close</i>
    </a>
    <button class="btn btn-outline-info p-0" data-bs-toggle="modal" data-bs-target="#QnA_modal">
      <i class="material-icons">info</i>
    </button>
  </div>

  
  <div class="container-fluid" style="min-height:100vh;">
    <div class="row">
      <div class="col text-center">
        <img src="<%- QnA %>" alt="QnA" style="height:90vh;" />
      </div>
    </div>

  </div>

<%- include ("../modals/modal_QnA.ejs") %>
<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
