<%- include('../head.ejs') %>
<ul class="nav nav-tabs bg-white d-flex pt-1 mb-3">
  <!-- <button class="btn btn-outline-secondary mx-1 mb-1 py-0" data-bs-toggle="modal" data-bs-target="#menu_modal">
    <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
  </button> -->
  
  <li class="nav-item"><a id="thisis" href="#" class="item nav-link" data-toggle="tab">Who is this?</a></li>
  <li class="nav-item"><a id="datetime" href="#" class="item nav-link" data-toggle="tab">What's the date?</a></li>
  <li class="nav-item"><a id="countries" href="#" class="item nav-link" data-toggle="tab">Where do you want to go?</a></li>
  <li class="nav-item"><a id="weekend" href="#" class="item nav-link" data-toggle="tab">How was your weekend?</a></li>
</ul>

<div id="content"></div>


<script>
$(function(){
  $('.item').click(function(){
    $('#content').load(`/public/pages/slots/${$(this).attr('id')}.html`);
  });
  
  spinit = (slot, val)=>{
    let slotElement = $(`#${slot}`);
    let slotChildren = slotElement.children();
    let slotChildHeight = $(slotChildren[0]).height();
    let slotChildCount = slotChildren.length;
    let slotChildIndex = slotChildren.index($(`#${val.replace(/ /g, '')}`));
    let slotChildOffset = slotChildHeight * slotChildIndex;
    let slotHeight = slotElement.height();
    let slotOffset = slotChildOffset - slotHeight / 2 + slotChildHeight / 2;

    slotElement.animate({
      scrollTop: slotOffset
    }, 500, "swing", () => {
      slotElement.scrollTop(slotChildOffset);
    });
  }

});
</script>


<%- include('../foot.ejs') %>