<%- include('../head'); -%>
<style>
  #alldone{
    font-family: "UD Digi Kyokasho NP-B", sans-serif;
    font-size: 10rem;
    font-weight:bold;
    text-shadow: 5px 5px 10px #99c;
    -webkit-text-stroke: 5px DarkSlateBlue;
    color:SlateBlue;
    height:100vh;
    position:relative;
  }

  #image img{
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width:100%;
    max-height:50vh;
  }
</style>

<body>
  <a id="closeButton" href="/New_Horizons" class="btn btn-sm btn-outline-secondary py-0">
    <i class="material-icons">close</i>
  </a>

  <button class="btn btn-sm btn-outline-secondary p-0" data-bs-toggle="modal" data-bs-target="#type_modal">
    <i class="material-icons">info</i>
  </button>

  
  <div id="content" class="container g-0" style="min-height:100vh;">
  
    <div class="row g-0">
      <div class="col-1"></div>
      <div class="col-10 text-center">
        <div id="display" class="text-center UD"></div>
      </div>
      <div class="col-1">
        <div id="timer" class="display-3 text-primary UD"></div>
      </div>
    </div>

    <div class="row g-0">
      <!-- answer -->
      <div class="col">
        <div class="d-flex justify-content-center my-3">
          <div id="answer" class="d-flex flex-wrap UD"><!-- populated dynamically by resetAnswer() --></div>
          <button id="start" aria-label="next" class="btn btn-lg btn-success ms-3" style="display:none;">
            START
          </button>
        </div>
      </div>

    </div>
    <div class="row g-0">
      <!-- image -->
      <div class="col text-center">
        <div id="image" class="p-4"></div>
      </div>

    </div>
  </div>

<%- include ("../modals/modal_type.ejs") %>

<script>
$(function(){
  // PREPARE THE DECK ////////////////////////////////////////////////////////////
  var url = window.location.href;
  var returnto = url.substring(0, url.lastIndexOf('/'));
  $("#closeButton").attr('href', returnto);

  const searchParams = new URLSearchParams(url.substring(url.indexOf('?')));
  const setName = searchParams.get('setName');
  const deckType = searchParams.get('deckType');
  let timeLimit = 60; // seconds
  var finished = false;
  var starttime = 0;
  var score = 0;
  var misses = 0;
  var totalLetters = 0;
  var deck = [];

  const letters = ["q","w","e","r","t","y","u","i","o","p",
                  "a","s","d","f","g","h","j","k","l",
                  "z","x","c","v","b","n","m", "-","'",".",
                  " ",
                  "Q","W","E","R","T","Y","U","I","O","P",
                  "A","S","D","F","G","H","J","K","L",
                  "Z","X","C","V","B","N","M"];

  start = () =>{
    finished = false;
    starttime = new Date();
    score = 0;
    misses = 0;
    totalLetters = 0;
    deck = getDeck({setName, deckType});
    FYshuffle(deck);
    resetAnswer();
    requestAnimationFrame(updateAnimation);
    $("#timer").show();
  }


  showResults = ()=>{
    let elapsedTime = (new Date() - starttime) / 1000;
    let wpm = Math.round(60 * score / elapsedTime);

    $("#display").html(`
      <div class="display-1">Words Typed : ${score}</div><hr/>
      <div class="display-3">Mistakes : ${misses}</div>
      <div class="display-5">Accuracy : ${Math.round(100 * totalLetters / (totalLetters + misses))}%</div>
      <div class="display-5">Speed : ${wpm} wpm</div>`);
    $("#timer").hide();
    $("#answer").empty();
    $("#image").empty();
    $("#start").show().focus();
  }


  updateAnimation = ()=> {
    if (!finished && new Date() - starttime < timeLimit * 1000) {
      $("#timer").text((timeLimit - Math.floor((new Date() - starttime) / 1000)).toString());
      requestAnimationFrame(updateAnimation); // Keep the animation going
    } 
    else {
      finished = true;
      showResults();
    }
  }


  resetAnswer = ()=>{
    if (finished){
      finished = false;
      starttime = new Date();
      requestAnimationFrame(updateAnimation);
    }

    place = 0;
    guess = '';
    $("#display").empty();
    $("#answer").html(`<div class="word d-flex"></div>`);

    word = deck.pop();
    if (word){
      if (deckType != 'text') $("#image").html(word.image);
      $("#display").html(`<div class="display-1">${word.name}</div>`);

      for (let i = 0; i < word.name.length; i++){
        let l = word.name[i];
        let wordwrap = [' ', '-'].includes( l ) ? true : false;

        $("#answer .word:last-child").append(`<div id="place${i}"
                                  class="place btn btn-lg alert-primary"
                                  style="font-size:2em;width:60px;">_</div>`);
        if (wordwrap) {
          $("#answer").append(`<div class="word d-flex"></div>`);
        }
      }

      $("#answer").show();
      $("#start").hide();
    } 
    else {
      finished = true;
      showResults();
    }
  }


  $("#start").on('click', ()=>{
    start();
  });


  start();

// keyboard input //////////////////////////////////////////////////////////////
  let fired = false;

  backspace = ()=>{
    if(place > 0){
      place--;
      guess = guess.slice(0, -1);
      $("#place"+place).text('_');
    }
  }

  $(window).on('keydown', function(e){
    if (e.key === fired && e.key !== ' ') return;
    if (e.key === ' ') e.preventDefault();

    if(e.key.length == 1 && e.key !== fired && letters.includes(e.key)){
      if (finished) return;
      fired = e.key;
      if (place < word.name.length){
        if (e.key == word.name[place]){
          $("#place"+place).text(e.key).removeClass('alert-danger').addClass('alert-primary');
        }
        else {
          $("#place"+place).text(e.key).addClass('alert-danger');
          misses += 1;
        }
        place++;
        guess += e.key;

        if (guess == word.name){
          totalLetters += word.name.length;
          score += 1;
          // spaces and hyphens mean more words should be counted
          let spaces = word.name.match(/[- ]/g);
          if (spaces) score += spaces.length;

          resetAnswer();
        }
      }
    }
    else if(e.key == 'Backspace'){
      backspace();
    }
    else if(e.key == 'Enter'){
      e.preventDefault();
      if (finished) start();
    }
  });


  $(window).on('keyup', function(e){
    fired = false;
  });


});
</script>

<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
