<%- include('../head'); -%>
<style>
  #alldone{
    font-family: "UD Digi Kyokasho NP-B", sans-serif;
    font-size: 10rem;
    font-weight:bold;
    text-shadow: 5px 5px 10px #99c;
    -webkit-text-stroke: 5px DarkSlateBlue;
    color:SlateBlue;
    height:100vh;
    position:relative;
  }

  #image img{
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    max-width:100%;
    max-height:50vh;
  }
</style>

<body>
  <a id="closeButton" href="/" class="btn btn-sm btn-outline-secondary py-0">
    <i class="material-icons">close</i>
  </a>

  <button class="btn btn-sm btn-outline-secondary p-0" data-bs-toggle="modal" data-bs-target="#wordle_modal">
    <i class="material-icons">info</i>
  </button>

  
  <div id="content" class="container g-0" style="min-height:100vh;">
  
    <div class="row g-0">

      <!-- answer -->
      <div class="col UD">
        <div id="guess" class="d-flex flex-wrap justify-content-center my-3"></div>
        <div class="d-flex justify-content-center my-3">
          <div id="answer" class="d-flex flex-wrap justify-content-center"><!-- populated dynamically by resetAnswer() --></div>
          <button id="start" aria-label="next" class="btn btn-lg btn-success" style="display:none;">
            <i class="material-icons">arrow_forward</i>
          </button>
        </div>
      </div>

    </div>
    <div class="row g-0">
      <!-- image -->
      <div class="col-4 text-center">
        <div id="image" class="p-4"></div>
      </div>

      <div class="col-8 d-flex justify-content-end flex-column">
        <div id="keyboard" class="container g-0">
          <div id="keyrow1" class="row g-0 justify-content-center"></div>
          <div id="keyrow2" class="row g-0 justify-content-center"></div>
          <div id="keyrow3" class="row g-0 justify-content-center"></div>
          <div id="keyrow4" class="row g-0 justify-content-center"></div>
        </div>
      </div>
    </div>
  </div>

<%- include ("../modals/modal_wordle.ejs") %>

<script>
$(function(){

// PREPARE THE DECK ////////////////////////////////////////////////////////////
  var url = window.location.href;
  var returnto = url.substring(0, url.lastIndexOf('/'));
  $("#closeButton").attr('href', returnto);

  const searchParams = new URLSearchParams(url.substring(url.indexOf('?')));
  const setName = searchParams.get('setName');
  const deckType = searchParams.get('deckType');
  var deck = getDeck({setName, deckType});
  
  deck = FYshuffle(deck);

  var place = 0;
  var guess = '';
  var correct = true; // just to get things started

  const letters = ["q","w","e","r","t","y","u","i","o","p",
                  "a","s","d","f","g","h","j","k","l",
                  "z","x","c","v","b","n","m","-","'",".",
                  " ",
                  "Q","W","E","R","T","Y","U","I","O","P",
                  "A","S","D","F","G","H","J","K","L",
                  "Z","X","C","V","B","N","M"];

  // input handlers
  inputLetter = (letter)=>{
    if(place < word.name.length){
      let l = [' ', '_'].includes(letter) ? ' ' : letter == 'period' ? '.' : letter; // for data-value
      let d = [' ', '_'].includes(letter) ? '&nbsp;' : letter == 'period' ? '.' : letter; // for display

      $("#place"+place ).html(d);
      place++;
      guess += l;
    }
    $("#enter").prop('disabled', place < word.name.length);
  }


  backspace = ()=>{
    if(place > 0){
      place--;
      guess = guess.slice(0, -1);
      $("#place"+place).text('_');
    }
    $("#enter").prop('disabled', true);
  }


  submitAnswer = ()=>{
    $("#enter").prop('disabled', true);
    if (guess === word.name){
      for (let i = 0; i < word.name.length; i++){
        $(`[data-value=${word.name[i] == '.' ? 'period': word.name[i] == ' ' ? '_' : word.name[i]}]`)
            .removeClass('bg-warning text-body')
            .addClass('bg-primary text-white');
      }
      $("#guess").html('');
      $("#answer").html(`<div class="btn btn-primary" style="font-size:5em;">${guess}</div>`);
      $("#start").show().focus();
      correct = true;
    }
    else {
      $("#guess").html(`<div class="word d-flex"></div>`);
      let remaining = []; // keep track of letters not yet guessed

      for(let i = 0; i < word.name.length; i++){
        let wordwrap = [' ', '-'].includes( word.name[i] ) ? true : false;
        let l = guess[i] == '.' ? 'period' : guess[i] == ' ' ? '_' : guess[i];      // for data-value
        let d = guess[i] == ' ' ? '&nbsp;' : guess[i]; // for display

        if(guess[i] === word.name[i]){
          $("#guess .word:last-child").append(`<div class="btn btn-lg bg-primary text-white" 
                                   style="font-size:2em; width:60px;">${d}</div>`);
          $(`[data-value=${l}]`)
            .removeClass('bg-warning bg-secondary text-body')
            .addClass('bg-primary text-white');
        }
        else if (word.name.includes(guess[i])){
          remaining.push(word.name[i]);
          $("#guess .word:last-child").append(`<div class="btn btn-lg bg-warning" 
                                  style="font-size:2em; width:60px;">${d}</div>`);
          $(`[data-value=${l}]`).addClass('bg-warning text-body');
        }
        else{
          remaining.push(word.name[i]);
          $("#guess .word:last-child").append(`<div class="btn btn-lg bg-secondary text-white" 
                                  style="font-size:2em; width:60px;">${d}</div>`);
          $(`[data-value=${l}]`)
            .removeClass('bg-warning text-body')
            .addClass('bg-secondary text-white');
        }
        if (wordwrap) $("#guess").append(`<div class="word d-flex"></div>`);
      }


      $("#guess .bg-warning").each(function(){
        let l = $(this).text();
        let d = l == '\xa0' ? ' ' : l == 'period' ? '.' : l;
                    //&nbsp; is \xa0 in javascript

        if ( !remaining.includes(d) ){
          $(this).removeClass('bg-warning text-body').addClass('bg-secondary text-white');
          $(`[data-value=${l}]`)
            .removeClass('bg-warning text-body')
            .addClass('bg-primary text-white');
        }
      });

      guess = '';
      place = 0;
      $(".place").text('_');
    }
  }


  resetAnswer = ()=>{
    correct = false;
    place = 0;
    guess = '';
    $("#guess").empty();
    $("#answer").html(`<div class="word d-flex"></div>`);

    word = deck.pop();
    if (word){
      $("#image").html(word.image);

      for (let l = 0; l < word.name.length; l++){
        let wordwrap = [' ', '-'].includes( word.name[l] ) ? true : false;

        $("#answer .word:last-child").append(`<div id="place${l}"
                                  class="place btn btn-lg alert-primary"
                                  style="font-size:2em;width:60px;">_</div>`);

        if (wordwrap) $("#answer").append(`<div class="word d-flex"></div>`);
      }

      $("#answer").show();

      $("#start").hide();
      $(".letter").removeClass('bg-primary bg-warning bg-secondary text-white');
    } 
    else {
      $("#content").html('<div id="alldone">All done!</div>');
    }
  }

  resetAnswer();


  // set or reset everything
  $("#start").on('click', ()=>{
    resetAnswer();
  });


  // input

  let fired = false;

  $(window).on('keydown', function(e){
    if (e.key === fired && e.key !== ' ') return;
    if (e.key === ' ') e.preventDefault();

    if(e.key.length == 1 && e.key !== fired && letters.includes(e.key)){
      fired = e.key;
      inputLetter(e.key);
    }
    else if(e.key == 'Backspace'){
      backspace();
    }
    else if(e.key == 'Enter'){
      e.preventDefault();
      if(correct){
        resetAnswer();
      }else if (place === word.name.length){
        submitAnswer();
      }
    }
  });

  $(window).on('keyup', function(e){
    fired = false;
  });


// KEYBOARD ////////////////////////////////////////////////////////////////////
  for ( let key of letters.slice( 0, 10)){
    $("#keyrow1").append(
      `<div data-value="${key}" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:50px;">${key}</div>`);
  }
  for ( let key of letters.slice( 10, 19)){
    $("#keyrow2").append(
      `<div data-value="${key}" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:50px;">${key}</div>`);
  }
  for ( let key of letters.slice( 19, 29 )){
    $("#keyrow3").append(
      `<div data-value="${key == '.' ? 'period' : key}" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:50px;">${key}</div>`);
  }

  $("#keyrow4").html(`<div data-value="_" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:360px;">&nbsp;</div>`)

  $("#keyrow1").append(
    `<div id="backspace" class="btn btn-sm shadow-sm border me-1 mb-1" style="width:50px;">
        <i class="material-icons-outlined" style="font-size:1rem;">backspace</i>
      </div>`);

  $("#keyrow2").append(
    `<button id="enter" class="btn btn-sm shadow-sm border me-1 mb-1" style="width:50px;" disabled>
        <i class="material-icons-outlined" style="font-size:1rem;">keyboard_return</i>
      </button>`);

  $(".letter").on('click', function(){
    inputLetter( $(this).attr('data-value') );
  });

  $("#backspace").on('click', function(){
    backspace();
  });

  $("#enter").on('click', ()=>{
    submitAnswer();
  });

});
</script>

<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
