<html>

<head>
  <title>Picture Dictionary</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body>
  <div id="cp"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1>Picture Dictionary</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Click on a picture to hear the word.</p>
        <div id="content">
          <!-- nav-tabs -->
          <div class="nav-tabs">
            <ul id="tabs" class="nav">
            </ul>
          </div>
          <div id="tabContent" class="alert-primary py-3 text-center">
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="NH_vocab.js"></script>

<script>
$(document).ready(function () {

  for(let cat in dict){
    let tab = $(
      `<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">${cat}</a>
       </li>`);
    $("#tabs").append(tab);

    // for (let word in dict[cat]){
    //   $("#cp").append(`"${word}", `);
    // }
  }

  // when tab is clicked, load content for that tab and add click event to buttons
  $("#tabs").on("click", "a", function (e) {
    e.preventDefault();
    let cat = $(this).text();
    let content = dict[cat];

    $("#tabContent").empty();

    if (cat == "body"){
      $("#tabContent").html(`
        <map id="bodymap">
          <area shapr="rect" coords="18, 0, 418, 62" alt="body">
          <area shape="rect" coords="18, 213, 284, 255" alt="head">
          <area shape="rect" coords="18, 304, 284, 345" alt="face">
          <area shape="rect" coords="78, 694, 345, 735" alt="shoulder">
          <area shape="rect" coords="18, 800, 284, 845" alt="hand">
          <area shape="rect" coords="18, 1104, 284, 1145" alt="knee">
          <area shape="rect" coords="608, 162, 875, 204" alt="eye">
          <area shape="rect" coords="608, 256, 875, 300" alt="ear">
          <area shape="rect" coords="608, 352, 875, 392" alt="nose">
          <area shape="rect" coords="608, 580, 875, 622" alt="mouth">
          <area shape="rect" coords="608, 674, 875, 716" alt="teeth">
          <area shape="rect" coords="608, 768, 875, 812" alt="leg">
          <area shape="rect" coords="608, 1302, 875, 1344" alt="toe">
        </map>
        <image src="assets/png/body.png" usemap="#bodymap" alt="body">
      `);

      $("#bodymap area").on("click", function (e){
        let audio = content[ $(this).prop("alt") ].audio;
        let audioEl = new Audio(audio);
        audioEl.play();
      });
    }
    else if (cat == "family"){
      $("#tabContent").html(`
        <map id="familymap">
          <area shape="rect" coords="102, 0, 502, 64" alt="family">
          <area shape="rect" coords="70, 136, 350, 435" alt="grandfather">
          <area shape="rect" coords="416, 124, 700, 435" alt="grandmother">
          <area shape="rect" coords="238, 460, 518, 744" alt="mother">
          <area shape="rect" coords="624, 478, 906, 744" alt="father">
          <area shape="rect" coords="74, 796, 352, 1036" alt="brother">
          <area shape="rect" coords="392, 808, 698, 1036" alt="me">
          <area shape="rect" coords="728, 782, 1008, 1035" alt="sister">
        </map>
        <image src="assets/png/family.png" usemap="#familymap" alt="family">
      `);

      $("#familymap area").on("click", function (e){
        let audio = content[ $(this).prop("alt") ].audio;
        let audioEl = new Audio(audio);
        audioEl.play();
      });
    }
    else{
      for(let word in content){
        let image = `<img src="${content[word].image}" alt="${content[word].meaning}" style="max-height:100px;"/>`;

        $("#tabContent").append(
          `<button class="btn btn-light" data-audio="${content[word].audio}">
                ${image}<br>
                ${word}
            </button>`);
      }
      $("#tabContent").on("click", "button", function (e){
        let audio = $(this).data("audio");
        let audioEl = new Audio(audio);
        audioEl.play();
      });
    }
  });
});
</script>
</html>
