<%- include('../head') %>

<div class="btn btn-primary btn-lg" id="next">Next</div>

<div class="container text-center display-1">
  <div id="card1" class="row d-flex"></div>
  <div id="card2" class="row d-flex"></div>
</div>


<script>
$(function(){
const SET = "ABCDEFGHIJKLMNOPQRSTUVWXYZ".split("");
let numOfItems = 8; // make user selectable

$('#next').on('click', load2Cards);

function load2Cards(){
  if (gameSet.length < numOfItems*2-1) gameSet = FYshuffle( SET );
  let card1 = [gameSet.pop()];
  let card2 = card1.slice();
  let roundSet = gameSet.slice(); // copy remaining set after selecting item
  
  for (let i = 0; i < numOfItems-1; i++) {
    card1.push(roundSet.pop());
    card2.push(roundSet.pop());
  }
  card1 = FYshuffle(card1);
  card2 = FYshuffle(card2);

  $("#card1").html("");
  $("#card2").html("");

  for (let i = 0; i < numOfItems; i++) {
    $("#card1").append(`<div class="col-1">${card1[i]}</div>`);
    $("#card2").append(`<div class="col-1">${card2[i]}</div>`);
  }
}

let gameSet = FYshuffle( SET.slice() );
});
</script>

<%- include('../foot') %>