<%- include('../head') %>
<style>
  #boyclothes img {
    object-fit: contain;
    object-position: center;
    height: 200px;
    border: 1px solid #ccc;
  }
</style>

<div class="container text-center g-0">
  <div class="row g-0">
    <div id="boyclothes" class="col-md-9 d-flex flex-wrap" style="max-height:600px;">
      <img src="/image/dressup/boy/boots.png" alt="boots">
      <img src="/image/dressup/boy/cap.png" alt="cap">
      <img src="/image/dressup/boy/cargo_shorts.png" alt="cargo_shorts">
      <img src="/image/dressup/boy/coat.png" alt="coat">
      <img src="/image/dressup/boy/dog_T-shirt.png" alt="dog_T-shirt">
      <img src="/image/dressup/boy/dress_shirt.png" alt="dress_shirt">
      <img src="/image/dressup/boy/hat.png" alt="hat">
      <img src="/image/dressup/boy/jeans.png" alt="jeans">
      <img src="/image/dressup/boy/knit_cap.png" alt="knit_cap">
      <img src="/image/dressup/boy/long-sleeve_T-shirt.png" alt="long-sleeve_T-shirt">
      <img src="/image/dressup/boy/other_pants.png" alt="other_pants">
      <img src="/image/dressup/boy/pants.png" alt="pants">
      <img src="/image/dressup/boy/pjs.png" alt="pjs">
      <img src="/image/dressup/boy/shirt.png" alt="shirt">
      <img src="/image/dressup/boy/shorts.png" alt="shorts">
      <img src="/image/dressup/boy/sneakers.png" alt="sneakers">
      <img src="/image/dressup/boy/snow_boots.png" alt="snow_boots">
      <img src="/image/dressup/boy/sunglasses.png" alt="sunglasses">
      <img src="/image/dressup/boy/sweater.png" alt="sweater">
    </div>
    <div class="col-md-3">
      <div id="boy" style="height:600px;position:relative;">
        <img src="/image/dressup/boy/_boy.png" style="height:600px;position:absolute;left:0;" alt="Boy">
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  $('#boyclothes img').on('click', function() {
    var $clickedImg = $(this);
    var $boy = $('img[alt="Boy"]');
    var $boyContainer = $boy.parent();
    
    // Get positions for animation
    var clickedOffset = $clickedImg.offset();
    var boyOffset = $boy.offset();
    
    // Store original styles to restore later if needed
    $clickedImg.data('originalParent', $clickedImg.parent());
    
    // Move image to body for animation with fixed positioning
    $clickedImg.css({
      position: 'fixed',
      left: clickedOffset.left,
      top: clickedOffset.top,
      width: $clickedImg.width(),
      height: $clickedImg.height(),
      zIndex: 1000,
      border: 'none',
      padding: 0,
      margin: 0
    }).appendTo('body');
    
    // Animate to boy's position and resize
    $clickedImg.animate({
      left: boyOffset.left,
      top: boyOffset.top,
      width: $boy.width(),
      height: $boy.height()
    }, 800, 'swing', function() {
      // After animation, position it properly in the boy container
      $clickedImg.css({
        position: 'absolute',
        left: 0,
        top: 0,
        height: '600px',
        width: 'auto',
        border: 'none',
        padding: 0,
        margin: 0,
        zIndex: 10
      }).appendTo($boyContainer);
    });
  });
  
  // Handle clicks on clothing items overlaid on the boy to move them back
  $(document).on('click', '#boy img:not([alt="Boy"])', function(e) {
    e.stopPropagation();
    var $clickedClothing = $(this);
    var $originalParent = $clickedClothing.data('originalParent');
    
    // Get positions for return animation
    var currentOffset = $clickedClothing.offset();
    var $boyclothesDiv = $('#boyclothes');
    var returnOffset = $boyclothesDiv.offset();
    
    // Move to body for animation
    $clickedClothing.css({
      position: 'fixed',
      left: currentOffset.left,
      top: currentOffset.top,
      width: $clickedClothing.width(),
      height: $clickedClothing.height(),
      zIndex: 1000
    }).appendTo('body');
    
    // Animate back to boyclothes area
    $clickedClothing.animate({
      left: returnOffset.left + 50,
      top: returnOffset.top + 50,
      width: 200,
      height: 200
    }, 400, function() {
      // Restore original styles and move back to boyclothes
      $clickedClothing.css({
        position: 'static',
        left: 'auto',
        top: 'auto',
        width: 'auto',
        height: '200px',
        border: '1px solid #ccc',
        padding: 0,
        margin: 0,
        zIndex: 'auto',
        'object-fit': 'contain',
        'object-position': 'center'
      }).appendTo($boyclothesDiv);
    });
  });
});
</script>
<%- include('../foot') %>
