<%- include('../head') %>

<div id="subs"></div>
<button id="save" class="btn btn-primary" style="position:fixed;bottom:0px;right:0px;">Save</button>


<script>
$(function(){
  var JAsubobj = <%- JSON.stringify(JAsubobj) %>;
  var ENsubobj = <%- JSON.stringify(ENsubobj) %>;

  const SpeechRecognition =
    window.SpeechRecognition || window.webkitSpeechRecognition;
  const SpeechGrammarList =
    window.SpeechGrammarList || window.webkitSpeechGrammarList;
  const SpeechRecognitionEvent =
    window.SpeechRecognitionEvent || window.webkitSpeechRecognitionEvent;

  const j_recog = new SpeechRecognition();
  j_recog.continuous = false;
  j_recog.lang = "ja-JP";
  j_recog.interimResults = false;
  j_recog.maxAlternatives = 1;

  j_recog.onresult = (event) => {
    // replace the text of the current line with the recognized text
    var text = event.results[0][0].transcript;
    $(".sub").each(function(){
      if ($(this).find(".rec").is(":focus")){
        console.log('foundit');
        $(this).find(".txt").text(text);
      }
    });
  }
  
  j_recog.onnomatch = (event) => {
    var msg = $(`<div class="alert text-white bg-warning" style="position:fixed;bottom:30px;right:0px;">Huh?</div>`);
    $("body").append(msg);
    msg.fadeOut(3000, function(){msg.remove();});
  };

  j_recog.onerror = (event) => {
    var msg = $(`<div class="alert text-white bg-danger" style="position:fixed;bottom:30px;right:0px;">${event}</div>`);
    $("body").append(msg);
    msg.fadeOut(3000, function(){msg.remove();});
  };


  for (let key in JAsubobj){
    var line = $(`<div class="sub d-flex">
      <div class="key alert-secondary rounded-3 border border-secondary" style="min-width:30px;">${key}</div>
      <div class="alert-primary rounded-3 border border-primary p-1">${ENsubobj[key].text}</div>
      <button class="rec btn btn-primary" style="min-width:30px;"><i class="material-icons">mic</i></button>
      <div contenteditable="true" class="txt alert-success rounded-3 border border-success w-100 p-1">${JAsubobj[key].text}</div>
    </div>`);
    $("#subs").append(line);
  }


  $(".rec").on('mousedown', function(){
    j_recog.start();
  }).on('mouseup', function(){
    j_recog.stop();
  });


  $("#save").on('click', function(){
    var subs = {};
    $(".sub").each(function(){
      var key = $(this).find(".key").text();
      var text = $(this).find(".txt").text().replace(/<br>/g, "\n");

      if (text !== JAsubobj[key].text){
        subs[key] = text;
      }
    }).promise().done(function(){
      $.post("/labs/editsubs", {subs: JSON.stringify(subs)}, function(data){
        // briefly flash a disappearing message
        var msg = $(`<div class="alert text-white bg-success" style="position:fixed;bottom:30px;right:0px;">${data}</div>`);
        $("body").append(msg);
        msg.fadeOut(3000, function(){
          msg.remove();
        });
      });
    });
  });



});
</script>

<%- include('../foot') %>