<%- include('../head') %>
<style>
  .add {
    /* rounded right */
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
  }
  .add:hover {
    color: red;
  }
</style>

<div class="small UD d-none">
  <!-- lorem ipsum in Japanese -->
  長ニ横力づち助都位須めょ朝9学す氏場げぶ犯場チケイラ紆注肉で柳転すあこづ文側私集ろず。生エコテ私際ラニ合31法クょさ補億ロタシ携実ゆ図場案うにッゃ諸5死変ホク深港州タ亡浜き。芸ツ小溶リルコ給目騒よあ議医ワア引常らな輪紙さっは意治ねッドス関査ルのん国由ス済役がすル国女べ置温ともれ細読78形トイフル京式テ備厘架けたい。
  直マウナ謙得キマニネ鉄学ヨシミ現転イヱユサ表政りみゅば国球9死はへラ毎育リ写由ぼにし指族リ授家無オハヤ長有め台水ワルノモ来復ソテレ他示ネ連百切幅採れ。季予応ロヨウ者手後ヨセナ祭4厳ナ業山フを保長ク注緯そ玉味のうゃや意携ラナ織82投治ほぐ当勝イ固円よ宿負ノセヒス創写ミモナア人道けぽイ堤喜栄潟薬ざ。
  質ふづじフ制内ムレマ属県みどね春配すぽ認紀しぐそ権制ヘ町合は可7賀でな実43人ラみろ教究を使内待りよ。記懇位美オ連裏ぎぱ歴切ヤエマ記告ンにや営電オ旅冴表タキナユ免繁ケキマ立芸ノヌ謡創事コテワ記9度メソ時事マス著保浮絵影まぱ。両ろひさで飛万5給ツホハオ支増ぞせへ味編ふやなル考術ネキ著変ねとぼは社手ケモ覇82返がクじら金長けなべド民報地タホサ年最元史ぶむんね。
  7郎た助焦ヲ線被ヌマメヨ三先ルずむ上技オミレ官詳ホヌレ米安断今ユソ火予問ルゆ着早報ぱかうべ映六暮ミ伝著スヌカ体佑ぞしまぶ。入ぜほいド却50週よべッ質申ロスセマ近獣ヨ手度ゅ去気っば今常タソワ伎専げあ年棋りをぎづ芝市家か輝時ー解際ウサチフ生公ーほ度玉めぶ休経侑倣づら。72緩ょる辞超ホレヤタ聞朝ンじこ予社問ミハチコ質撮仲わ当紙一ノヌヲ済供オヤエロ社国そぐぴ二御だぐと。
  主ぐめるづ革47禁っ浅使ハア決取たち新宿選ナラコケ査手テミノ放個く野会委ハア記英シナコユ川体71浜代英幹めやそ。機クく品員中必ゃむりね痛医ヲルナコ尿思ぎ責咋面ホラ写子テケメシ掲来エオ謝麗ート賞也ゅざ約設ル島王はきぱく活理だ権本ホオ面理教ぽ識宿テカヌエ白氏ッ意若亀をべが。福社げ態8賞ク輪上ょ目整表リミス高真ソセ魚組レ著暮セ女98差炭熟耳6試ゅづ気働迎ラぎる。
  便権クゆう食著ヒロ理内かッば意告こでゆ白産定ヒケキ虎任タルテ済津ヱタ解男ハユミ秘8被ッゅとふ出球ムテメ央仕稿かぜゃ年3著全っス民端自クドい。街ルだゅん備事こしづ途細同メク読要やご旅20聞8選岩れえ社勝ムテウリ浦容どえそ作見ヤミ係佐カヲキ森道条ヌフ動投れら性諌ぴぽゆス問立葉んうをい上費ドわおゃ。
  広ウユ深売が多家ナシイ面費私額っぱ更聞ウリラニ気月勝モルニソ済請ぼ値台確株しあべ県座ろ属逃ユロノ有終ヱオ入始レふッ会2冤冶るべずえ。合ソエニヲ貫事ヱ供芸スす経海よ上稿ヨフアラ転大ラべにフ呼著ヘツヱラ底広きん前更ミネヌカ総般がと焼掲ヘ図15第約奏訳4投ラルヱ安宅ぴれンへ面面性トい掲昨侃凸塀り。
  71道マシチノ始際ス水路ざちのら関京トウリマ育例あれてレ多由茂レヒソ重芸ニロヤ側街2辞ユロ境慣和ヤヒシ司飛へ際重政ミワナ入加ほ発詳法製どッそに。七てげゆ申集チ泉早特ノニリ量養能ラ足結ぐ発界コヲセワ元試ト芸恐ねあお用存ぐよ芸掃ニ意敏かレ週握ちもづ稿決ラをイぱ。忘度ちそ真貢たばぜも旅能キトホフ婚写リ額自レのたお治校5絞てぎ索菓ほずぼ弥9禁ラオリテ歩詳賛スか自岩裁抱くルかレ。
  以ヨタリ任著フルハヌ証者ばレ下3国感ま電五ヒチ対一サチ上7団るず試訟テオ征造コウカロ賞学塩抵ださド。1揚れじク片支イえそ乳立ラ土別クちまか撮育住お規禁右康持よゃごく値国誰じどほ。趣枝サ景8一ンべ人朝リ任生レ属政をのこえ切1張ヘミイ業録芸イエセロ速市ニヒ後講エメムキ宣双脈鶴トつむ。
  迷精イウヨル供落アタレケ録督む左戦ヤアヱレ意載改くお情19崎着6知フラエニ文音ぴトづて方事ヨオヲ米海原ねばが。楽島まうへく文低ムヘレロ年増カヲエコ松母セ土引かイ松67医ぜばに社区ぐご者元ち直町日ナヲユ巻25崎着9写れば属教名枝ト能条トやゅせ。回川ル場者ツ映静ょリ介元ユオラ刺校摘をべぼっ人案ルメクテ団聞よまあ解福記ドけろう日当ぜご神廃てひ名滞いン情止こ日九藤広特くり。
</div>

<div class="container mt-3">
  <div class="row">

    <div class="col-6">
      <form id="j_form" class="form d-flex me-5 mb-3" method="POST">
        <input type="text" class="form-control" id="word" name="word" placeholder="word" autofocus>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div id="result" class="d-flex"></div>
    </div>

    <div class="col-6">
      <div class="alert alert-primary" role="alert">
        <h4 class="alert-heading">Your Title</h4>
        <p>Your selected words go here.</p>
      </div>
    </div>
  </div>
</div>

<script type="module">
  import translate from "https://cdn.jsdelivr.net/npm/translate/index.min.js";

$(function(){
  $('#j_form').submit(async function(e){
    e.preventDefault();
    let input = $('#word').val();
    let j_candidate = await translate(input, "ja");
    let e_candidate = await translate(j_candidate);
    

    $('#result').html(`<div class="alert alert-primary">${input} : ${e_candidate} : ${j_candidate}</div>
                       <div class="add alert-success px-3"><i class="material-icons">add</i></div>`);
  });
});
</script>

<%- include('../foot') %>
