<%- include('../head'); -%>
<style>
  * {
    box-sizing: border-box;
  }

  #sheet {
    width: 21cm;
    height: 29.7cm;
    margin: auto auto;
  }
  @media print {
    #menucontainer {
      display: none;
    }
  }
  body{background-image: none !important;}
</style>


<body>
  <div id="menucontainer"><!-- to hide the entire menu when printing -->
    <div id="menu" class="d-flex">
      <a id="home" href="teachers/tools" class="btn btn-sm btn-outline-secondary py-0 me-1">
        <i class="material-icons">home</i>
      </a>

      <button class="btn btn-sm btn-outline-secondary p-0 me-3" data-bs-toggle="modal" data-bs-target="#lp_modal">
        <i class="material-icons">info</i>
      </button>

      <button id="print" class="btn btn-sm btn-outline-success py-0 mx-3">
        <i class="material-icons">print</i>
      </button>

    </div>
  </div>


<!-- ####################################################################### -->

  <div id="sheet" class="container-fluid UD">
    <div class="row" style="height:5%;">

      <div class="col-2 bg-white border rounded-3">
        <p class="text-muted">Date:</p>
      </div>
      <div class="col-2 border rounded-3 bg-white">
        <p class="text-muted">Class:</p>
      </div>
      <div class="col-8 border rounded-3 bg-white">
        <p class="text-muted">Today's Goal:</p>
      </div>

    </div>
    <div class="row" style="height:10%;">

      <div class="col-3 bg-white border rounded-3">
        <span class="text-muted">
          <span class="fs-3">① </span>
          Get Started
          <p class="small">Greetings, Day/Date, Weather, Small Talk</p>
        </span>

      </div>
      <div class="col-9 bg-white border rounded-3" style="position:relative;">
        <div class="text-muted small" style="position:absolute;bottom:0;">
          挨拶・曜日・日付・天気・スモールトーク
        </div>
      </div>

    </div>
    <div class="row" style="height:15%;">

      <div class="col-3 bg-white border rounded-3">
        <span class="text-muted">
          <span class="fs-3">② </span>
          Warm Up / Review
          <p class="small">Practice what you learned last time in pairs or groups. Speaking time!</p>
        </span>
      </div>
      <div class="col-9 bg-white border rounded-3" style="position:relative;">
        <div class="text-muted small" style="position:absolute;bottom:0;">
          前回学んだことを復習・ペアやグループで練習・スピーキングタイム
        </div>
      </div>

    </div>
    <div class="row" style="height:30%;">

      <div class="col-3 bg-white border rounded-3">
        <span class="text-muted">
          <span class="fs-3">③ </span>
          Something New
          <p class="small">Listen, watch, think, ask, discuss, learn.</p>
        </span>
        <p class="text-muted small">
          聞く・見る・考える・尋ねる・話す・学ぶ
        </p>
      </div>
      <div class="col-1 bg-white border border-end-0 rounded-3"></div>
      <div class="col-7 bg-white border-top"></div>
      <div class="col-1 bg-white border border-start-0 rounded-3"></div>

    </div>
    <div class="row" style="height:30%;">

      <div class="col-3 bg-white border rounded-3">
        <span class="text-muted">
          <span class="fs-3">④ </span>
          Something Fun
          <p class="small">Do an activity to practice what you learned today.
            Switch to a different topic. Try out new things. Have fun!</p>
        </span>
        <p class="text-muted small">
          今日学んだことを練習・違うトピックに移る・新しいことを試す・楽しむ
        </p>
      </div>
      <div class="col-1 bg-white border border-end-0 rounded-3"></div>
      <div class="col-7 bg-white border-bottom"></div>
      <div class="col-1 bg-white border border-start-0 rounded-3"></div>

    </div>
    <div class="row" style="height:10%;">

      <div class="col-3 bg-white border rounded-3">
        <span class="text-muted">
          <span class="fs-3">⑤ </span>
          Think Back/Ahead
          <p class="small">What did you learn today? When's the next class? Good-byes.</p>
        </span>
      </div>
      <div class="col-9 bg-white border rounded-3" style="position:relative;">
        <div class="text-muted small" style="position:absolute;bottom:0;">
          今日何を学んだか？友達と共有・次回の授業日・さようなら
        </div>
      </div>

    </div>

  </div>


<script>
$(function(){
  $("#print").on('click', ()=>{
    window.print();
  });
});

</script>
  
<%- include('../foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
