<%- include('../head'); -%>

<div class="container pt-3">
  <div class="row">
    <div class="col">
      <div id="listen" class="btn btn-lg btn-success">
        <i class="material-icons">mic</i>
      </div>
    </div>

  </div>
  <div class="row">
    <div id="ja" class="col p-3"></div>
    <div id="en" class="col"></p>
  </div>
</div>


<!-- <script src="javascripts/spell.js" type="text/javascript"></script> -->

<script>
$(function(){
  // const SpeechRecognition =
  //   window.SpeechRecognition || window.webkitSpeechRecognition;
  // const SpeechGrammarList =
  //   window.SpeechGrammarList || window.webkitSpeechGrammarList;
  // const SpeechRecognitionEvent =
  //   window.SpeechRecognitionEvent || window.webkitSpeechRecognitionEvent;


  // English speech recognition setup
  const e_recog = new SpeechRecognition();
  e_recog.continuous = false;
  e_recog.lang = "en-US";
  e_recog.interimResults = false;
  e_recog.maxAlternatives = 1;

  e_recog.onresult = (event) => {
    let word = event.results[0][0].transcript;
    let conf = Math.round(event.results[0][0].confidence*100);
    $("#en").html(`"${word}" ${conf}%`);
  }
  
  e_recog.onnomatch = (event) => {
    $("#en").html("I didn't understand.");
  };

  e_recog.onerror = (event) => {
    $("#en").html(`Error occurred in recognition: ${event.error}`);
  };


  // Japanese speech recognition setup
  const j_recog = new SpeechRecognition();
  j_recog.continuous = false;
  j_recog.lang = "ja-JP";
  j_recog.interimResults = false;
  j_recog.maxAlternatives = 1;

  j_recog.onresult = (event) => {
    let word = event.results[0][0].transcript;
    let conf = Math.round(event.results[0][0].confidence*100);
    $("#ja").html(`"${word}" ${conf}%`);
  }
  
  j_recog.onnomatch = (event) => {
    $("#ja").html("I didn't understand.");
  };

  j_recog.onerror = (event) => {
    $("#ja").html(`Error occurred in recognition: ${event.error}`);
  };


  // LISTEN
  $("#listen").on('mousedown', () => {
    e_recog.start();
    j_recog.start();
  }).on('mouseup', () => {
    e_recog.stop();
    j_recog.stop();
  });

});
</script>

  <%- include('../foot') %>