<%- include('../head'); -%>
<body>
  
<div id="target" style="background-color:black;color:white;height:100vh;">
  <div class="text-center pt-3">
    <button id="listen" class="btn btn-lg btn-success"><i class="material-icons">record_voice_over</i></button>
    <button id="stop" class="btn btn-lg btn-danger"><i class="material-icons">stop</i></button>
  </div>

  <div class="text-center">
    <p id="hints" class="p-3"></p>
  </div>

</div>


<script>
$(function(){
// COPY/PASTE & edit vocab anywhere you need speech recognition. ///////////////
  const vocab = ["red", "orange", "yellow", "green", "blue", "purple", 
                  "black", "white", "pink", "brown", "gray"];
  const grammar = `#JSGF V1.0; grammar colors; public <color> = ${vocab.join(" | ")};`;
  const SpeechRecognition =
    window.SpeechRecognition || window.webkitSpeechRecognition;
  const SpeechGrammarList =
    window.SpeechGrammarList || window.webkitSpeechGrammarList;
  const SpeechRecognitionEvent =
    window.SpeechRecognitionEvent || window.webkitSpeechRecognitionEvent;
  const recognition = new SpeechRecognition();
  const speechRecognitionList = new SpeechGrammarList();
  speechRecognitionList.addFromString(grammar, 1);
  recognition.grammars = speechRecognitionList;
  recognition.continuous = true;
  recognition.lang = "en-US";
  recognition.interimResults = false;
  recognition.maxAlternatives = 1;
////////////////////////////////////////////////////////////////////////////////

  let hints = `Tap or click then say a color to change the background color of the app. <br /> Try`;

  vocab.forEach((color, i) => {
    if (["black", "gray", "purple", "brown", "green", "blue"].includes(color)) {
      hints += `<span style="background-color:${color};"> ${color} </span>`;
    } else {
      hints += `<span style="color:black;background-color:${color};"> ${color} </span>`;
    }
  });
  $("#hints").html(hints);


  // LISTEN
  $("#listen").on('click', () => {
    recognition.start();
    console.log("Ready to receive a color command.");
  });

  // STOP
  $("#stop").on('click', () => {
    recognition.stop();
    console.log("Stopped listening.");
  });
  
  recognition.onresult = (event) => {
    let color = event.results[event.resultIndex][0].transcript.trim().toLowerCase();
    $("#target").css("background-color", color);
    console.log(`Color: ${color}, Confidence: ${event.results[event.resultIndex][0].confidence}`);
  };

  recognition.onspeechend = () => {
  };

  recognition.onnomatch = (event) => {
    console.log("I didn't recognise that color.");
  };

  recognition.onerror = (event) => {
    console.log(`Error occurred in recognition: ${event.error}`);
  };
});

</script>

<%- include('../foot') %>