<%- include('head'); -%>

<body>
  <div class="d-flex">
    <a href="/" class="btn btn-sm btn-outline-secondary p-0">
      <i class="material-icons">close</i>
    </a>
    <div id="start" class="btn btn-sm btn-outline-info">START</div>
  </div>


  <div class="container-fluid" style="min-height:100vh;">
    <div class="row">
      <div id="display" class="col d-flex flex-wrap justify-content-center text-center" style="display:none;"></div>
    </div>

    <div id="slides" class="row" style="display:none;">
      <div class="col-1 text-center">
        <button id="prev" class="btn btn-light" style="min-height:100%" aria-label="previous slide">
          <i class="material-icons md-large">navigate_before</i>
        </button>
      </div>

      <div class="col-10" style="height:80vh">
        <div id="currentSlide" class="justify-content-center text-center display-1" style="height:90%;position:relative;"></div>
      </div>

      <div class="col-1 text-center">
        <button id="next" class="btn btn-light" style="min-height:100%" aria-label="next slide">
          <i class="material-icons md-large">navigate_next</i>
        </button>
      </div>
    </div>

  </div>

<script src="/vocab_decks.js"></script>
<script src="/NH_vocab.js"></script>

<script>
$(function(){
// PREPARE THE DECK ////////////////////////////////////////////////////////////
var url = window.location.href;
  const searchParams = new URLSearchParams(url.substring(url.indexOf('?')));
  const deckName = searchParams.get('deckName');
  const deckType = searchParams.get('deckType');
  const style = searchParams.get('style');
  var deck = [];
  var list = [];
  var index = 0;

  // We need an array of objects. Objects have info and arrays can be shuffled.
  switch (deckType){
    case 'vocab':
      list = vocab_decks[deckName];
      for (let i of list){
        deck.push({name: i, image: `<div id="flash" style="position:absolute;z-index:-1;">${i}</div>`});
      }
      break;
    case 'NH':
      for (let i in NH_vocab[deckName]){
        deck.push({name: i, image: `<img src="/image/${NH_vocab[deckName][i].image}" alt="${i}" 
                                         style="position:absolute;margin: auto;
                                         left: 0;right: 0;text-align: center;
                                         max-width:90%;max-height:90%">`});
      }
      break;
    case 'images':
      list = JSON.parse(deckName);
      for (let i of list){
        deck.push({name: i, image: `<img src="/image/svg/${i}.svg" alt="${i}" 
                                         style="position:absolute;margin: auto;
                                         left: 0;right: 0;text-align: center;
                                         max-width:90%;max-height:90%">`});
      }
      break;
    default:
      console.log('whu?');
  }

// PREPARE THE DISPLAY /////////////////////////////////////////////////////////
  for (let i of deck){
    $('#display').append(
       `<div class="rounded-3 px-3 bg-white border display-1">
          <div style="font-size:3rem;">${i.name.replace('_', " ")}
            <div style="height:8rem;width:8rem;position:relative;">
              ${i.image}
            </div>
          </div>
        </div>`);
  }

  deck = FYshuffle(deck);

  $("#currentSlide").html(deck[0].image);

  $("#display").show();

  $("#start").on('click', ()=>{
    $("#display").empty();
    $("#slides").show();
  });

  $("#prev").on('click', ()=>{
    if (index > 0) {
      index--;
      $("#currentSlide").html(deck[index].image);
    }
  });

  $("#next").on('click', ()=>{
    if (index < deck.length-1) {
      index++;
      $("#currentSlide").html(deck[index].image);
    }
  });

});

</script>

<%- include('foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
