<%- include('head'); -%>

<body>
  <div class="d-flex">
    <a href="/teachers" class="btn btn-sm btn-outline-secondary p-0">
      <i class="material-icons">close</i>
    </a>
  </div>
  
  <div class="container-fluid" style="min-height:100vh;">
    <div class="row">
      <div class="col text-center">
        <img src="<%- diagram %>" alt="diagram" style="height:90vh;" />
      </div>
    </div>

  </div>

<script src="/script.js"></script>

<%- include('foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
