<%- include('head'); -%>

<body>
  <div class="col d-flex px-0 pt-0 pb-3">

    <a href="/" class="btn btn-sm btn-outline-info">
      <i class="material-icons md-small">close</i>
    </a>
  </div>
  
  <div class="container-fluid" style="min-height:100vh;">
    <div class="row">
      <div class="col text-center">
        <img src="<%- diagram %>" alt="diagram" style="height:90vh;" />
      </div>
    </div>

  </div>

<%- include('foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
