<footer style="box-shadow: inset 0px 7px 7px #999;"
        class="alert-dark d-flex justify-content-around pt-2 pb-0">
  <span class="small">©English Jones 2021</span>
  <span class="small">joshnishikawa@gmail.com</span>
</footer>

<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/gh/bevacqua/dragula@3.7.3/dist/dragula.min.js"></script>

</body>
</html>
