<%- include('head') %>
<div class="container mt-1">

<p>This is a sample of some activities you can use in class. Click on the 'i'
  for info about each activity. The 'X' will take you to a menu where you can 
  make similar activities with different vocabulary. After starting an activity,
  you can bookmark it so you can go back to the same activity with the same 
  vocabulary later.
</p>

<a href='https://share.englishjones.com/teachers/reveal?style=spotlight&setName=%7B"ball"%3A"daily_objects_ball.gif"%2C"bat"%3A"daily_objects_bat.gif"%2C"racket"%3A"daily_objects_racket.gif"%2C"bag"%3A"daily_objects_bag.gif"%2C"basket"%3A"daily_objects_basket.gif"%2C"box"%3A"daily_objects_box.gif"%2C"cup"%3A"daily_objects_cup.gif"%2C"watch"%3A"daily_objects_watch.gif"%2C"clock"%3A"daily_objects_clock.gif"%2C"book"%3A"daily_objects_book.gif"%2C"textbook"%3A"daily_objects_textbook.gif"%2C"comic+book"%3A"daily_objects_comic_book.gif"%2C"computer"%3A"daily_objects_computer.gif"%2C"calendar"%3A"daily_objects_calendar.gif"%2C"map"%3A"daily_objects_map.gif"%2C"picture"%3A"daily_objects_picture.gif"%2C"umbrella"%3A"daily_objects_umbrella.gif"%2C"present"%3A"daily_objects_present.gif"%2C"desk"%3A"daily_objects_desk.gif"%2C"chair"%3A"daily_objects_chair.gif"%2C"wheelchair"%3A"daily_objects_wheelchair.gif"%2C"bath"%3A"daily_objects_bath.gif"%2C"bed"%3A"daily_objects_bed.gif"%7D&deckType=NH'
   target='_blank'>Treasure Hunt</a>
  Move the mouse/trackpad around and the spotlight will get bigger. Students try 
  to guess what the picture is. Hit <kbd>ENTER</kbd> for the next one.<br/><br/>

<a href='https://share.englishjones.com/teachers/reveal?style=pixelate&setName=%7B"baseball"%3A"sports_baseball.gif"%2C"softball"%3A"sports_softball.gif"%2C"basketball"%3A"sports_basketball.gif"%2C"volleyball"%3A"sports_volleyball.gif"%2C"dodgeball"%3A"sports_dodgeball.gif"%2C"soccer"%3A"sports_soccer.gif"%2C"tennis"%3A"sports_tennis.gif"%2C"table+tennis"%3A"sports_table_tennis.gif"%2C"badminton"%3A"sports_badminton.gif"%2C"track+and+field"%3A"sports_track_and_field.gif"%2C"swimming"%3A"sports_swimming.gif"%2C"skating"%3A"sports_skating.gif"%2C"skiing"%3A"sports_skiing.gif"%7D&deckType=NH'
   target="_blank">Sports Pix</a>
  Similar idea but the picture is very pixelated. Press <kbd>&rarr;</kbd> to
  increase the resolution until someone can guess what it is.<br/><br/>

<a href='https://share.englishjones.com/teachers/match?backs=colorsNumbers&setName=%7B"sunny"%3A"weather_sunny.gif"%2C"cloudy"%3A"weather_cloudy.gif"%2C"rainy"%3A"weather_rainy.gif"%2C"snowy"%3A"weather_snowy.gif"%2C"cold"%3A"weather_cold.gif"%2C"hot"%3A"weather_hot.gif"%7D&deckType=NH'
   target="_blank">Weather Match</a>
  Students look for matches by calling out color/number combos. Teacher flips.
  <br/><br/>

<a href='https://share.englishjones.com/teachers/recall?setName=%7B"rice"%3A"food_rice.gif"%2C"rice+ball"%3A"food_rice_ball.gif"%2C"curry+and+rice"%3A"food_curry_and_rice.gif"%2C"grilled+fish"%3A"food_grilled_fish.gif"%2C"bread"%3A"food_bread.gif"%2C"sandwich"%3A"food_sandwich.gif"%2C"pancakes"%3A"food_pancakes.gif"%2C"pizza"%3A"food_pizza.gif"%2C"hamburger"%3A"food_hamburger.gif"%2C"hot+dog"%3A"food_hot_dog.gif"%2C"French+fries"%3A"food_French_fries.gif"%2C"fried+chicken"%3A"food_fried_chicken.gif"%2C"sausage"%3A"food_sausage.gif"%2C"steak"%3A"food_steak.gif"%2C"omelet"%3A"food_omelet.gif"%2C"spaghetti"%3A"food_spaghetti.gif"%2C"pie"%3A"food_pie.gif"%2C"salad"%3A"food_salad.gif"%2C"soup"%3A"food_soup.gif"%7D&deckType=NH'
   target="_blank">Missing Food</a>
  Give students a few minutes to remember, choose how many to hide and hit START.
  Type words and hit <kbd>ENTER</kbd> to flip. Use <kbd>/?</kbd> to flash cards.
  <br/><br/>

<a href='https://share.englishjones.com/teachers/flash?setName=%7B"English"%3A"subjects_English.gif"%2C"Japanese"%3A"subjects_Japanese.gif"%2C"calligraphy"%3A"subjects_calligraphy.gif"%2C"social+studies"%3A"subjects_social_studies.gif"%2C"math"%3A"subjects_math.gif"%2C"science"%3A"subjects_science.gif"%2C"music"%3A"subjects_music.gif"%2C"arts+and+crafts"%3A"subjects_arts_and_crafts.gif"%2C"home+economics"%3A"subjects_home_economics.gif"%2C"P.E."%3A"subjects_P.E.gif"%2C"moral+education"%3A"subjects_moral_education.gif"%7D&deckType=NH'
   target="_blank">Flash Subjects</a>
  In case you just need to flash some vocab. Use <kbd>&uparrow;</kbd> to put 
  something aside for review and <kbd>ENTER</kbd> to start the review list.
  <br/><br/>

<hr>

<p>
  These are some activities that students can do on their own. 'i' will have
  instructions in Japanese for computers that have the system language set to
  Japanese. 'X' will take students to a page where they can select their own 
  vocabulary from the New Horizons Picture Dictionary.
</p>

<a href='https://share.englishjones.com/wordle?setName=%7B"January"%3A"months_01.gif"%2C"February"%3A"months_02.gif"%2C"March"%3A"months_03.gif"%2C"April"%3A"months_04.gif"%2C"May"%3A"months_05.gif"%2C"June"%3A"months_06.gif"%2C"July"%3A"months_07.gif"%2C"August"%3A"months_08.gif"%2C"September"%3A"months_09.gif"%2C"October"%3A"months_10.gif"%2C"November"%3A"months_11.gif"%2C"December"%3A"months_12.gif"%7D&deckType=NH'
   target="_blank">Spell Months</a>
  This is a version of 'Wordle' for practicing spelling. <br/><br/>

<a href='https://share.englishjones.com/type?setName=%7B"Sunday"%3A"weekdays_Sunday.gif"%2C"Monday"%3A"weekdays_Monday.gif"%2C"Tuesday"%3A"weekdays_Tuesday.gif"%2C"Wednesday"%3A"weekdays_Wednesday.gif"%2C"Thursday"%3A"weekdays_Thursday.gif"%2C"Friday"%3A"weekdays_Friday.gif"%2C"Saturday"%3A"weekdays_Saturday.gif"%7D&deckType=NH'
   target="_blank">Type Days</a>
  This is a typing game. Select how much time and see how many you can type.<br/><br/>

<a href="https://share.englishjones.com/abc" target="_blank">ABC</a>
  This page has several activities just for recognizing letters of the alphabet,
  getting used to alphabetical order and learning how letters are written.

</div>
<%- include('foot') %>