<%- include('head'); -%>
<a href="/" class="btn btn-sm btn-outline-secondary p-0">
  <i class="material-icons">close</i>
</a>

<script src="/script.js"></script>

<%- include('quill'); -%>
<%- include('foot'); -%>
