<%- include('head'); -%>

<body>
  <a href="/" class="btn btn-sm btn-outline-secondary p-0">
    <i class="material-icons">close</i>
  </a>

  <div class="container" style="min-height:100vh;">
  
    <div class="row g-0">

      <!-- image -->
      <div class="col-5 text-center">
        <div id="image" class="p-5"></div>
      </div>

      <!-- answer -->
      <div class="col-7">
        <div id="guess" class="my-3"></div>
        <div class="d-flex my-3">
          <div id="answer"></div>
          <button id="start" aria-label="next" class="btn btn-lg btn-success" style="display:none;">
            <i class="material-icons">arrow_forward</i>
          </button>
        </div>
      </div>
    </div>

    <div class="row g-0">
      <div id="keyboard" class="container">
        <div id="keyrow1" class="row justify-content-center"></div>
        <div id="keyrow2" class="row justify-content-center"></div>
        <div id="keyrow3" class="row justify-content-center"></div>
        <div id="keyrow4" class="row justify-content-center"></div>
      </div>
    </div>
  </div>

<script src="/vocab_decks.js"></script>
<script src="/NH_vocab.js"></script>
  
<script>
$(function(){
  // PREPARE THE DECK ////////////////////////////////////////////////////////////
  var url = window.location.href;
  const searchParams = new URLSearchParams(url.substring(url.indexOf('?')));
  const deckName = searchParams.get('deckName');
  const deckType = searchParams.get('deckType');
  const style = searchParams.get('style');
  var deck = [];

  // We need an array of objects. Objects have info and arrays can be shuffled.
  switch (deckType){
    case 'vocab':
      list = vocab_decks[deckName];
      for (let i of list){
        deck.push({name: i, image: `<div id="flash" style="position:absolute;z-index:-1;">${i}</div>`});
      }
      break;
    case 'NH':
      for (let i in NH_vocab[deckName]){
        deck.push({name: i, image: `<img src="/image/${NH_vocab[deckName][i].image}" alt="${i}" 
                                         style="margin: auto;
                                         left: 0;right: 0;text-align: center;
                                         max-width:100%;max-height:50vh;">`});
      }
      break;
    case 'images':
      list = JSON.parse(deckName);
      for (let i of list){
        deck.push({name: i, image: `<img src="/image/svg/${i}.svg" alt="${i}" 
                                         style="margin: auto;
                                         left: 0;right: 0;text-align: center;
                                         max-width:100%;max-height:50vh;">`});
      }
      break;
    default:
      console.log('whu?');
  }

  deck = FYshuffle(deck);

  var place = 0;
  var guess = '';
  var correct = true; // just to get things started
  const letters = ["q","w","e","r","t","y","u","i","o","p",
                  "a","s","d","f","g","h","j","k","l",
                  "z","x","c","v","b","n","m","-","'",
                  " "];

  // input handlers
  inputLetter = (letter)=>{
    if(place < word.name.length){
      $("#place"+place).html(letter == ' ' ? '&nbsp;' : letter);
      place++;
      guess += letter;
    }
    $("#enter").prop('disabled', place < word.name.length);
  }


  backspace = ()=>{
    if(place > 0){
      place--;
      guess = guess.slice(0, -1);
      $("#place"+place).text('_');
    }
    $("#enter").prop('disabled', true);
  }


  submitAnswer = ()=>{
    $("#enter").prop('disabled', true);
    console.log(guess);
    if (guess === word.name){
      $("#guess").hide();
      $("#answer").html(`<div class="btn btn-primary" style="font-size:5em;">${guess}</div>`);
      $("#start").show().focus();
      correct = true;
    }

    var html = `<div>`;
    for(let l = 0; l < word.name.length; l++){
      let spaceOrChar = guess[l] == '_' ? '&nbsp;' : guess[l];
      if(guess[l] === word.name[l]){
        html += `<div class="btn btn-lg bg-primary text-white" 
                      style="font-size:2em; width:60px;">${spaceOrChar}</div>`;
        $(`[data-value=${guess[l]}]`).removeClass('bg-warning text-body').addClass('bg-primary text-white');
      }
      else if (word.name.includes(guess[l])){
        html += `<div class="btn btn-lg bg-warning" 
                      style="font-size:2em; width:60px;">${spaceOrChar}</div>`;
        $(`[data-value=${guess[l]}]`).addClass('bg-warning text-body');
      }
      else{
        html += `<div class="btn btn-lg bg-secondary text-white" 
                      style="font-size:2em; width:60px;">${spaceOrChar}</div>`;
        $(`[data-value=${guess[l]}]`).addClass('bg-secondary text-white');
      }
    }
    html += `</div>`;

    $("#guess").html(html);
    guess = '';
    place = 0;
    $(".place").text('_');
  }


  resetAnswer = ()=>{
    correct = false;
    place = 0;
    guess = '';
    $("#guess").html('').show();
    $("#answer").html('');

    word = deck.pop();
    if (word){
      $("#image").html(word.image);

      for (let l = 0; l < word.name.length; l++){
        $("#answer").append(`<div id="place${l}" 
                                  class="place btn btn-lg alert-primary" 
                                  style="font-size:2em;width:60px;">_</div>`); 
      }
      $("#answer").show();

      $("#start").hide();
      $(".letter").removeClass('bg-primary bg-warning bg-secondary text-white');
    } else { window.location.replace('/'); }
  }

  resetAnswer();


  // set or reset everything
  $("#start").on('click', ()=>{
    resetAnswer();
  });

  // input
  $(window).on('keydown', function(e){
    if (e.key == ' ' && e.target == document.body){
      e.preventDefault();
    }
  });

  $(window).on('keyup', function(e){
    if(e.key.length == 1 && letters.includes(e.key)){
      inputLetter(e.key);
    }
    else if(e.key == 'Backspace'){
      backspace();
    }
    else if(e.key == 'Enter'){
      if(correct){
        resetAnswer();
      }else if (place === word.name.length){
        submitAnswer();
      }
    }
  });





// KEYBOARD ////////////////////////////////////////////////////////////////////
  for ( let key of letters.slice( 0, 10)){
    $("#keyrow1").append(
      `<div data-value="${key}" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:50px;">${key}</div>`);
  }
  for ( let key of letters.slice( 10, 19)){
    $("#keyrow2").append(
      `<div data-value="${key}" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:50px;">${key}</div>`);
  }
  for ( let key of letters.slice( 19, 28 )){
    $("#keyrow3").append(
      `<div data-value="${key}" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:50px;">${key}</div>`);
  }

  $("#keyrow4").html(`<div data-value="_" class="letter btn btn-sm border shadow-sm me-1 mb-1" 
                                style="width:360px;">&nbsp;</div>`)

  $("#keyrow1").append(
    `<div id="backspace" class="btn btn-sm shadow-sm border me-1 mb-1" style="width:50px;">
        <i class="material-icons-outlined" style="font-size:1rem;">backspace</i>
      </div>`);

  $("#keyrow2").append(
    `<button id="enter" class="btn btn-sm shadow-sm border me-1 mb-1" style="width:50px;" disabled>
        <i class="material-icons-outlined" style="font-size:1rem;">keyboard_return</i>
      </button>`);

  $(".letter").on('click', function(){
    inputLetter( $(this).attr('data-value') );
  });

  $("#backspace").on('click', function(){
    backspace();
  });

  $("#enter").on('click', ()=>{
    submitAnswer();
  });

});
</script>

<%- include('foot'); -%><!-- FOOT INCLUDES SCRIPTS AND </body> -->
