<ul id="navbar" class="nav nav-tabs bg-white d-flex pt-1 mb-3 UD">
  <button class="btn btn-outline-secondary m-1 py-0" data-bs-toggle="modal" data-bs-target="#menu_modal">
    <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
  </button>
  <li class="nav-item"><a id="abc-tab" href="abc" class="nav-link" data-toggle="tab">Basics</a></li>
  <li class="nav-item"><a id="NH-tab" href="NH" class="nav-link" data-toggle="tab">New Horizon</a></li>
  <!-- <li class="nav-item"><a id="groups-tab" href="groups" class="nav-link" data-toggle="tab">Groups</a></li> -->
</ul>


<div id="menu_modal" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title"><%- __('navbar.students.title') %></h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p><%- __('navbar.students.1') %></p>
        <p><%- __('navbar.students.2') %></p>
        <p><%- __('navbar.students.3') %></p>
      </div>
    </div>
  </div>
</div>


<script>
  window.access = "/";
</script>