<ul id="navbar" class="nav flex-column nav-tabs bg-white d-flex pt-1 ms-1 YM" style="min-height: 100vh;">
  <li class="nav-item vertical-label p-0"><a id="letters-tab" href="letters" class="nav-link border-start-0" data-toggle="tab">Letters</a></li>
  <li class="nav-item vertical-label p-0"><a id="things-tab" href="things" class="nav-link border-start-0" data-toggle="tab">Things</a></li>
  <li class="nav-item vertical-label p-0"><a id="NH-tab" href="NH" class="nav-link border-start-0" data-toggle="tab">New Horizon</a></li>
  <!-- <li class="nav-item vertical-label p-0"><a id="multiplayer-tab" href="multiplayer" class="nav-link border-start-0" data-toggle="tab">Multiplayer</a></li> -->
  <button id="home" class="btn btn-sm btn-outline-secondary m-1 py-0" style="position:absolute;bottom:0;" onclick="location.href='/teachers'">
    <i class="material-icons">school</i>
  </button>
</ul>