<%- include('../head'); -%>
<%- include('../menu/select_NH.ejs') -%>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <%- include('../menu/menu_wordle.ejs') -%>
    </div>
    
    <div class="col"></div>
  
    <div class="col"></div>
  
  </div>
      
</div>

<script src="/script.js"></script>

<script>
$(function(){
  window.deckType = "NH";
});
</script>

<%- include('../foot.ejs') -%>