<%- include('../head'); -%>

<div class="container">
  <div class="row">
    <div class="col p-5">
      <%- include('../teachers/menu_wordle.ejs') -%>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>

<script>
  $(function(){
    window.deckName = "months";
    window.deckType = "NH";
  });
  
</script>