<p>
  Each city has a different approach to teaching English overall. Some cities have
  English specialists who are responsible for teaching English to 3rd through 6th
  graders. Other cities have English specialist teach 5th and 6th graders while
  homeroom teachers take responsibility for 3rd and 4th grade lessons. Some cities
  have an ALT join every week. Other cities have an ALT join one to three lessons
  a month.
</p>

<p>
  Cities that rely more heavily on ALTs may rely on their respective agenciees for
  also providing lesson plans.
</p>

<p>
  Some cities are even opting to forego the ALT altogether and hire native English
  speakers to teach English lessons assisted by the homeroom teacher.
</p>

<hr/>

<p>
  Currently (2024), the city of Tatsuno has 3rd and 4th grade homeroom teachers
  teaching English lessons with the ALT assisting once each week. Most 5th and 6th 
  grade classes have English lessons twice each week. The first lesson is taught 
  by an English specialist. The second is taught by an English specialist assisted
  by the ALT.
</p>

<p>
  This is a fairly balanced approach which gives each homeroom teacher a chance
  to be an English speaking role model for their students by demonstrating 
  English conversation with the ALT. When students enter 5th grade, they have 
  one lesson exclusively with a Japanese teacher to get comfortable with the 
  more challenging language and ask questions without pressure. Then, they have 
  a second lesson to have fun practicing what they've learned and engaging with 
  the ALT.

</p>
