<ul>
  <li>
    3rd and 4th grade classes are considered an 'activity' only taught once a 
    week. The homeroom teacher is considered T1 and leads the lesson. The ALT 
    follows.
  </li>

  <li>
    5th and 6th grade classes are considered a 'subject' taught twice a week. 
    One lesson is led by a Japanese English instructor without the ALT. The 
    other lesson is led by a Japanese English instructor assisted by the ALT.
  </li>
</ul>
