<style>
  .active {
    color: #0d6efd;
  }
</style>

<div id="precedent" class="accordion">
  <h2 id="item_textbook" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_textbook" 
            aria-expanded="true" aria-controls="item_textbook">
      It depends on how the textbook is used.
    </button>
  </h2>
  <div id="content_textbook"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_textbook"
      aria-labelledby="head_textbook" data-bs-parent="#precedent">
      •	Things that are confusing, not useful, not fun or not even correct.
      •	Teachers don't feel like they're doing their job if they don't follow the textbook.
      •	What to do when so many students don't have their book.
      •	Not having a book means not having the materials (cards) that the book includes.
      •	Students assume that the book is what they'll be doing. Often, it's just a distraction.
      
      
      Shortcomings
      
      •	Numbers to 20 are covered for one month in 3rd grade. Numbers to 12 are covered for one month in 4th grade. Numbers to 1000 are covered for one month in 5th grade. This is nowhere near enough practice with numbers considering they are used to talk about time, dates, money etc.
      •	Writing is barely touched on in 4th grade. 5th graders are given writing practice infrequently……….
      •	The difference in usage between singular and plural nouns is very important in English…but it can be confusing. Because of this, teachers may shy away from even mentioning it, despite the fact that the textbook covers it. This is a mistake.
      •	Letter names are easy. Sounding out letters and letter combinations is hard.
      
      Things that are hard should not be avoided. They should be practiced!

  </div>


  <h2 id="item_environment" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_environment" 
            aria-expanded="true" aria-controls="item_environment">
      It depends on the English environment in the community.
    </button>
  </h2>
  <div id="content_environment"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_environment"
      aria-labelledby="head_environment" data-bs-parent="#precedent">

  </div>


  <h2 id="item_expectations" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_expectations" 
            aria-expanded="true" aria-controls="item_expectations">
      It depends on assumptions and expectations based on previous experiences.
    </button>
  </h2>
  <div id="content_expectations"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_expectations"
      aria-labelledby="head_expectations" data-bs-parent="#precedent">
    </div>
</div>

