body {
  background-image: url("../image/lightBG.png");
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  /* user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; */
}

.nav{
  box-shadow: inset 0 -9px 9px -9px rgba(0,0,0,0.3);
}

.nav-link.active{
  background-image: url("../image/lightBG.png");
  background-attachment: fixed;
  position:relative;
  box-shadow: 0 -2px 3px rgba(0,0,0,.3);
  border-radius: 3px 3px 0 0;
  }

.spell{
  min-width:40px;
  min-height:40px;
  font-size:2rem;
  line-height:2.8rem;
  vertical-align:bottom;
}


.inner-shadow {
  -moz-box-shadow: inset 0px 0px 5px cornflowerblue;
  -webkit-box-shadow: inset 0px 0px 5px cornflowerblue;
  box-shadow: inset 0px 0px 5px cornflowerblue;
  border-radius: 50%;
}

.write{
  background-image: url(../image/abc/lines.png);
  background-size: contain;
  font-family: 'Yusei Magic', sans-serif;
}

.write img{
  mix-blend-mode: multiply;
}

.UD{
  font-family: 'Yusei Magic', sans-serif;
}

[contenteditable] {
  outline: 0px solid transparent;
}


/*BACKGROUND COLORS///////////////////////////////////////////////////////////*/
.red{
  background-color: #e00;
  background-image: -webkit-linear-gradient(left top, Red, FireBrick);
}
.orange{
  background-color: DarkOrange;
  background-image: -webkit-linear-gradient(left top, Orange, DarkOrange);
}
.yellow{
  background-color: Yellow;
  background-image: -webkit-linear-gradient(left top, Yellow, Gold);
}
.green{
  background-color: LimeGreen;
  background-image: -webkit-linear-gradient(left top, Green 30%, DarkGreen 70%);
}
.blue{
  background-color: #00e;
  background-image: -webkit-linear-gradient(left top, #00e 30%, DarkBlue 70%);
}
.purple{
  background-color: Purple;
  background-image: -webkit-linear-gradient(left top, DarkViolet, Purple);
}
.black{background-color: Black;}
.white{background-color: White;}
.gray{background-color: #999;}
.pink{
  background-color: HotPink;
  background-image: -webkit-linear-gradient(left top, Pink, HotPink);
 }
.brown{
  background-color: SaddleBrown;
  background-image: -webkit-linear-gradient(left top, Sienna, SaddleBrown);
}
.violet{
  background-color: #c9f;
  background-image: -webkit-linear-gradient(left top, #c9f, #c6f);
}
.silver{
  background-color: #ccc;
  background-image: -webkit-linear-gradient(
  left top, Gray, White 10%, #ccc 35%, white 57%, White 60%, Gray);}
.gold{
  background-color: GoldenRod;
  background-image: -webkit-linear-gradient(
  left top, GoldenRod, white 27%, White 30%, Gold 65%, White 90%, GoldenRod);
}
.lightBlue{background-color: LightSkyBlue;
  background-image: -webkit-linear-gradient(left top, Cyan, PaleTurquoise);
}
.lightGreen{background-color: LimeGreen;
  background-image: -webkit-linear-gradient(left top, GreenYellow, SpringGreen);
}
.lightBrown{background-color: SandyBrown;
  background-image: -webkit-linear-gradient(left top, Tan, BurlyWood);
}
.darkBlue{background-color: Navy;}
.darkGreen{ background-color: #004800;}
.darkBrown{background-color: #702400;}

/*TEXT COLORS/////////////////////////////////////////////////////////////////*/
.redText{color:Red !important;}
.orangeText{color:Orange !important;}
.yellowText{color:Yellow !important;}
.greenText{color:DarkGreen !important;}
.blueText{color:#0d6efd !important;}
.purpleText{color:Purple !important;}
.blackText{color:Black !important;}
.whiteText{-webkit-text-stroke: 2px Gray;
  color:White !important;
}
.grayText{color:#999 !important;}
.pinkText{color:Pink !important;}
.brownText{color:SaddleBrown !important;}
.violetText{color:#c9f !important;}
.lightBlueText{color:LightSkyBlue !important;}
.lightGreenText{color:SpringGreen !important;}
.lightBrownText{color:BurlyWood !important;}
.darkBlueText{color:Navy !important;}
.darkGreenText{color:#004800 !important;}
.darkBrownText{color:#702400 !important;}


/* ////////////////////////////////////////////////////////////////////////// */
.flip {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card {
  cursor:pointer;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.flipped .flip-card {
  transform: rotateY(180deg);
}

.flip-back {
  display: flex;
  justify-content: center;
  align-items: center;  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}

.flip-front {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  transform: rotateY(180deg); /* because it starts face-down */
}

/* DRAGULA ////////////////////////////////////////////////////////////////// */
.gu-mirror{
  position:fixed!important;
  margin: 0!important;
  z-index:9999!important;
  opacity: 1 !important;
}

.gu-hide{
  display:none!important
}

.gu-unselectable{
  -webkit-user-select:none!important;
  -moz-user-select:none!important;
  -ms-user-select:none!important;
  user-select:none!important
}

.gu-transit{
  opacity:.5 !important;
}
