<div class="rounded-3 d-flex">
  <div class="d-flex me-3">
    <i class="material-icons text-secondary point" data-bs-toggle="modal" data-bs-target="#double_modal">
      info
    </i>
    <strong class="text-primary fs-5 pe-2">DOUBLE</strong>

    <div class="alert alert-primary p-0 m-0 me-1" style="height:30px;width:30px;">
      <div class="alert alert-warning border border-warning p-0 m-0" style="height:10px;width:10px;"></div>
    </div>
    <div class="alert alert-primary p-0 m-0" style="height:30px;width:30px;">
      <div class="alert alert-warning border border-warning p-0" style="height:10px;width:10px;margin:9px;"></div>
    </div>

  </div>


  <form id="doubleForm" action="/double" method="POST" class="menuitem d-flex justify-content-end w-100">
    <input type="hidden" value="" name="deck">
    <input type="hidden" value="NH" name="deckType">
    <input id="number" class="form-check-input" type="radio" value="9" name="number">
    <label class="form-check-label small ms-1 me-3" for="number">
      3x3
    </label>
    <input id="number" class="form-check-input" type="radio" value="4" name="number">
    <label class="form-check-label small ms-1 me-3" for="number">
      2x2
    </label>

    <button type="submit" class="btn btn-sm btn-primary YM" style="height:100%;">Start</button>
  </form>

</div>

<div id="double_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">DOUBLE</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>An activity bases on the concept of Dobble (Spot It). Although not 
          as awesome as the original, it's awesome in its own way!</p>
        <p> As soon as anyone calls out the match, you push <kbd>Space</kbd> or
          <kbd>&rarr;</kbd>. When the matching cards have a yellow background, 
          the whole class repeats.</p>
      </div>
    </div>
  </div>
</div>


</script>