<div class="rounded-3 d-flex">
  <div class="d-flex me-3">
    <i class="material-icons text-secondary point" data-bs-toggle="modal" data-bs-target="#names_modal">
      info
    </i>
    <strong class="text-primary fs-5">NAMES</strong>
  </div>
  
  <form action="/tools/names" method="GET" class="d-flex justify-content-end w-100">
    <button type="submit" class="btn btn-sm btn-primary" style="height:100%">
      Start
    </button>
  </form>
</div>


<div id="names_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Names</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
<p>
  Paste a list of names separated by commas. Then click the "Print" button to print name tags. Names will be printed as large as will fit in each area. 
</p>
      </div>
    </div>
  </div>
</div>
