<div class="rounded-3 d-flex">
  <div class="d-flex me-3">
    <i class="material-icons text-secondary point" data-bs-toggle="modal" data-bs-target="#match_modal">
      info
    </i>
    <strong class="text-primary fs-5">MATCH</strong>
  </div>

  <form id="match" action="/vocab/match" method="POST" class="menuitem d-flex justify-content-end w-100">
    <div class="d-flex" style="height:100%;">
      <select class="form-control form-control-sm" name="backs">
        <option value="" disabled selected>Card Backs</option>
        <option value="colors">Colors</option>
        <option value="numbers">Numbers</option>
        <option value="colorsNumbers">Color & Num.</option>
        <option value="colorsShapes">Color & Shape</option>
        <option value="capital">Capital</option>
        <option value="lowerCase">Lowercase</option>
        <option value="animals">Animals</option>
        <option value="objects">Objects</option>
      </select>
      <input type="hidden" value="" name="deck">
      <input type="hidden" value="" name="deckType">
      <input type="hidden" value="" name="deckName">

      <button type="submit" class="btn btn-sm btn-primary">Start</button>
    </div>
  </form>
  
</div>


<div id="match_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Match</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This is a good old-fashioned memory game (AKA concentration).
           Select which card backs you want to use. That's what the students
           will call out to let you know what to flip.</p>
           You can do this as a cooperative activity by letting a student
           (or group) call out only one card and letting the next student or
           group call out the next card. Let the whole class call out the last
           card (since everyone can agree on which one they want to flip) and
           everyone wins!</p>
        <p>Press the <kbd>?/</kbd> button to peek at the matching card (if one
           unmatched card is flipped) or to peek at all cards (if no unmatched
           cards are flipped). Cards will remain visible until you release the 
           button.
        </p>

        <hr/>
        <p>*Pro tip: If you use the 'lower_case_mix' deck with the 'animals' or 'objects'
          card backs, the animals or objects that start with the same letter will be a match.</p>
        </p>
      </div>
    </div>
  </div>
</div>
