<div class="rounded-3 d-flex">
  <div class="d-flex me-3">
    <i class="material-icons text-secondary point" data-bs-toggle="modal" data-bs-target="#twins_modal">
      info
    </i>
    <strong class="text-primary fs-5">TWINS</strong>
  </div>


  <form id="twinsForm" action="/twins" method="POST" class="menuitem d-flex justify-content-end w-100">
    <input type="hidden" value="" name="deck">
    <input type="hidden" value="NH" name="deckType">
    <input id="number" class="form-check-input" type="radio" value="9" name="number">
    <label class="form-check-label small ms-1 me-3" for="number">
      9 items
    </label>
    <input id="number" class="form-check-input" type="radio" value="4" name="number">
    <label class="form-check-label small ms-1 me-3" for="number">
      4 items
    </label>

    <button type="submit" class="btn btn-sm btn-primary YM" style="height:100%;">Start</button>
  </form>

</div>

<div id="twins_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">TWINS</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>An activity similar to but not as awesome as the original Dobble game.</p>
      </div>
    </div>
  </div>
</div>


</script>