<div class="rounded-3 d-flex">
  <div class="d-flex me-3">
    <i class="material-icons text-secondary point" data-bs-toggle="modal" data-bs-target="#cards_modal">
      info
    </i>
    <strong class="text-primary fs-5">CARDS</strong>
  </div>


  <form id="cardsForm" action="/printcards" method="POST" class="d-flex justify-content-end w-100">
    <input type="hidden" value="" name="deck">
    <input type="hidden" value="nolink" name="deckType">

    <div class="d-flex justify-content-between" style="height:100%;">

      <div class="form-group mx-3">
        <div class="d-flex rounded-3 border border-secondary">
          <label for="textsize" class="form-label px-1 mt-1 mb-0">Text Size</label>
          <input id="textsize" type="number" value="5" class="form-control form-control-sm border-0" 
                 style="width:4.5rem;" aria-label="text size in em">
        </div>
      </div>

      <button id="cardsButton" type="submit" class="btn btn-sm btn-primary" style="height:100%;">Start</button>
    </div>
  </form>

</div>

<div id="cards_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">CARDS</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This can be used to print flashcards</p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("#cardsButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $.get('/api/any-vocab', {deck: JSON.stringify(window.deck)})
       .then((data) => {
        $("#cardsForm input[name='deck']").val(JSON.stringify(data));
        $("#cardsForm").submit();
      });
    }
  });

  $(`#textsize`).on('change', function(){
    let size = $(this).val();
    if (isNaN(size) || size < 1) {
      size = 5;
      $(this).val(size);
    }
    $('.txt').css('font-size', `${size}em`);
  });
});
</script>