<div class="rounded-3 border p-1 shadow d-flex">
  <i class="material-icons text-secondary" 
    style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
    data-bs-toggle="modal" data-bs-target="#match_modal">
    info
  </i>
  <strong class="text-primary h3">MATCH</strong>

  <form id="match" action="/match" method="POST" class="d-flex justify-content-end w-100">
    <div class="d-flex" style="height:100%;">
      <select class="form-control" name="backs">
        <option value="" disabled selected>Card Backs</option>
        <option value="colors">Colors</option>
        <option value="numbers">Numbers</option>
        <option value="colorsNumbers">Color & Num.</option>
        <option value="colorsShapes">Color & Shape</option>
        <option value="capital">Capital</option>
        <option value="lowerCase">Lowercase</option>
        <option value="animals">Animals</option>
        <option value="objects">Objects</option>
      </select>
      <input type="hidden" value="" name="deck">
      <input type="hidden" value="" name="deckType">
      <input type="hidden" value="" name="deckName">

      <button type="submit" class="btn btn-primary">Start</button>
    </div>
  </form>
  
</div>

<%- include ("../modals/modal_match.ejs") %>

<script>
$(function(){
  $("#match").on('submit', (e)=>{
    if (!window.deck || window.deck.length == 0) {
      e.preventDefault();
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $("#match input[name='deck']").val(JSON.stringify(window.deck));
      $("#match input[name='deckType']").val(window.deckType);
      if (window.deckType == 'text'){
        $("#match input[name='deckName']").val($("#tags input:checked").val());
      }
    }
  });
});
</script>