<div class="rounded-3 d-flex">
  <div class="point d-flex me-3"
    data-bs-toggle="modal" data-bs-target="#cards_modal">
    <i class="material-icons text-secondary point">
      info
    </i>
    <strong class="text-primary fs-5">CARDS</strong>
  </div>


  <form id="cardsForm" action="/printcards" method="POST" class="d-flex justify-content-end w-100">
    <input type="hidden" value="" name="deck">
    <input type="hidden" value="nolink" name="deckType">

    <div class="d-flex" style="height:100%;">

      <div class="form-check me-3">
        <input id="showtext" type="checkbox" value="true" name="text" class="form-check-input">
        <label class="form-check-label small text-center" for="text">Text</label>
      </div>

      <button id="cardsButton" type="submit" class="btn btn-sm btn-primary" style="height:100%;">Start</button>
    </div>
  </form>

</div>

<div id="cards_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">CARDS</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This can be used to print flashcards</p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("#cardsButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      var words = {};
      $.get('/api/any-vocab', {deck: window.deck}, async (data) => {
        await $("#cardsForm input[name='deck']").val(JSON.stringify(data));
        $("#cardsForm").submit();
      });
    }
  });
});

</script>