<div class="rounded-3 border p-1 shadow d-flex">
  <i class="material-icons text-secondary" 
    style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
    data-bs-toggle="modal" data-bs-target="#richtext_modal">
    info
  </i>
  <strong class="text-primary h3">RICH&nbsp;TEXT</strong>
  
  <form action="/richtext" method="GET" class="d-flex justify-content-end w-100">
    <button type="submit" class="btn btn-primary" style="height:100%">
      Start
    </button>
  </form>
</div>

<%- include ("../modals/modal_richtext.ejs") %>
