<div class="rounded-3 d-flex">
  <div class="d-flex me-3">
    <i class="material-icons text-secondary point" data-bs-toggle="modal" data-bs-target="#match_modal">
      info
    </i>
    <strong class="text-primary fs-5">ROBBER</strong>
  </div>

  <form id="robber" action="/vocab/robber" method="POST" class="menuitem d-flex justify-content-end w-100">
    <input type="hidden" value="" name="deck">
    <input type="hidden" value="" name="deckType">
    <input type="hidden" value="" name="deckName">

    <button type="submit" class="btn btn-sm btn-primary">Start</button>
  </form>
  
</div>


<div id="robber_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Robber</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
    </div>
  </div>
</div>
