<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">MATCH</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-info me-1" 
            data-bs-toggle="modal" data-bs-target="#match_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="matchForm" action="match" method="GET">
      <div class="d-flex" style="height:100%;">
        <select class="form-control" name="backs">
          <option value="" disabled selected>Card Backs</option>
          <option value="colors">Colors</option>
          <option value="numbers">Numbers</option>
          <option value="colorsNumbers">Color & Num.</option>
          <option value="colorsShapes">Color & Shape</option>
          <option value="animals">Animals</option>
          <option value="objects">Objects</option>
        </select>
        <input type="hidden" value="" name="setName">
        <input type="hidden" value="" name="deckType">
        <button id="matchButton" type="submit" class="btn btn-primary">Start</button>
      </div>
    </form>
  
  </div>
</div>

<%- include ("../modals/modal_match.ejs") %>

<script>
$(function(){
  $("#matchButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("Please select a deck.");
    }
    else {
      $("#matchForm input[name='setName']").val(window.setName);
      $("#matchForm input[name='deckType']").val(window.deckType);
      $("#matchForm").submit();
    }
  });
});
</script>