<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">FLASH</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-info me-1" 
            data-bs-toggle="modal" data-bs-target="#flash_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="flashForm" action="flash" method="GET">
      <input type="hidden" value="" name="setName">
      <input type="hidden" value="" name="deckType">
      <button id="flashButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
    </form>
  </div>
</div>

<%- include ("../modals/modal_flash.ejs") %>

<script>
$(function(){
  $("#flashButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("Please select a deck.");
    }
    else {
      $("#flashForm input[name='setName']").val(window.setName);
      $("#flashForm input[name='deckType']").val(window.deckType);
      $("#flashForm").submit();
    }
  });
});

</script>