<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">REVEAL</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-secondary me-1" 
            data-bs-toggle="modal" data-bs-target="#reveal_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="reveal" action="reveal" method="GET">
      <div class="d-flex" style="height:100%;">
        <select class="form-control" name="style" required>
          <option value="" disabled selected>Style</option>
          <option value="spotlight">Spotlight</option>
          <option value="blur">Fog</option>
          <option value="pixelate">Pixels</option>
          <!-- <option value="blinder">Blinder</option> -->
        </select>

        <input type="hidden" value="" name="setName">
        <input type="hidden" value="" name="deckType">
        <button id="revealButton" type="submit" class="btn btn-primary">Start</button>
      </div>
    </form>
  </div>
</div>

<%- include ("../modals/modal_reveal.ejs") %>

<script>
$(function(){
  $("#revealButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("<%- __('pleaseSelect') %>");
    }
    else if (!$("#reveal select[name='style']").val()) {
      alert("Please select a style.");
    }
    else {
      $("#reveal input[name='setName']").val(window.setName);
      $("#reveal input[name='deckType']").val(window.deckType);
      $("#reveal").submit();
    }
  });
});
</script>