<div class="rounded-3 border p-1 shadow d-flex UD">
  <i class="material-icons text-secondary" 
    style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
    data-bs-toggle="modal" data-bs-target="#type_modal">
    info
  </i>

  <div class="wordle rounded-3 alert-primary text-center">t</div>
  <div class="wordle rounded-3 alert-primary text-center">y</div>
  <div class="wordle rounded-3 alert-primary text-center">p</div>
  <div class="wordle rounded-3 alert-primary text-center">_</div>

  <form id="typeForm" action="/type" method="GET" class="d-flex justify-content-end w-100">
    <input type="hidden" value="" name="deck">
    <input type="hidden" value="" name="deckType">
    <button id="typeButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
  </form>
</div>

<%- include ("../modals/modal_type.ejs") %>

<script>
$(function(){
  $("#typeButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $("#typeForm input[name='deck']").val(JSON.stringify(window.deck));
      $("#typeForm input[name='deckType']").val(window.deckType);
      $("#typeForm").submit();
    }
  });
});

</script>