<div class="rounded-3 border p-1 shadow d-flex">
  <i class="material-icons text-secondary" 
    style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
    data-bs-toggle="modal" data-bs-target="#brainbox_modal">
    info
  </i>
  <strong class="text-primary h3">Q&A</strong>
  <div class="d-flex justify-content-end w-100">

    <form action="/brainbox" method="GET">
      <div class="d-flex" style="height:100%;">
        <select class="form-control" name="brainbox" required>
<% for (let d of brainbox ) { %>
          <option value="<%- d %>"><%- d %></option>
<% } %>
        </select>
        <button type="submit" class="btn btn-primary">Start</button>
      </div>
    </form>
  </div>

</div>

<%- include ("../modals/modal_brainbox.ejs") %>

<script>
$(function(){
});
</script>