<div class="rounded-3 border p-3 shadow d-flex UD">
  <div class="wordle rounded-3 bg-secondary text-white text-center">s</div>
  <div class="wordle rounded-3 bg-primary text-white text-center">p</div>
  <div class="wordle rounded-3 bg-warning text-white text-center">e</div>
  <div class="wordle rounded-3 bg-primary text-white text-center">l</div>
  <div class="wordle rounded-3 bg-secondary text-white text-center">l</div>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-secondary me-1" 
            data-bs-toggle="modal" data-bs-target="#wordle_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="wordleForm" action="wordle" method="GET">
      <input type="hidden" value="" name="setName">
      <input type="hidden" value="" name="deckType">
      <button id="wordleButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
    </form>
  </div>
</div>

<%- include ("../modals/modal_wordle.ejs") %>

<script>
$(function(){
  $("#wordleButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $("#wordleForm input[name='setName']").val(window.setName);
      $("#wordleForm input[name='deckType']").val(window.deckType);
      $("#wordleForm").submit();
    }
  });
});

</script>