<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">BINGO</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-secondary me-1" 
            data-bs-toggle="modal" data-bs-target="#bingo_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <a href="/image/bingo.jpg" download="2BingoCards.jpg" class="btn btn-outline-secondary me-1">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">download</i>
    </a>

    <form id="bingoForm" action="bingo" method="GET">
      <input type="hidden" value="" name="setName">
      <input type="hidden" value="" name="deckType">
      <button id="bingoButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
    </form>
  </div>
</div>

<%- include ("../modals/modal_bingo.ejs") %>

<script>
$(function(){
  $("#bingoButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("Please select a deck.");
    }
    else {
      $("#bingoForm input[name='setName']").val(window.setName);
      $("#bingoForm input[name='deckType']").val(window.deckType);
      $("#bingoForm").submit();
    }
  });
});
</script>