<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">RECALL</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-secondary me-1" 
            data-bs-toggle="modal" data-bs-target="#recall_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="recallForm" action="recall" method="GET">
      <input type="hidden" value="" name="setName">
      <input type="hidden" value="" name="deckType">
      <button id="recallButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
    </form>
  </div>
</div>

<%- include ("../modals/modal_recall.ejs") %>

<script>
$(function(){
  $("#recallButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $("#recallForm input[name='setName']").val(window.setName);
      $("#recallForm input[name='deckType']").val(window.deckType);
      $("#recallForm").submit();
    }
  });
});
</script>