<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">REVEAL</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-info me-1" 
            data-bs-toggle="modal" data-bs-target="#reveal_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="reveal" action="reveal" method="GET">
      <div class="d-flex" style="height:100%;">
        <select class="form-control" name="style" required>
          <option value="" disabled selected>Style</option>
          <option value="spotlight">Spotlight</option>
          <option value="blur">Fog</option>
          <option value="pixelate">Pixels</option>
          <!-- <option value="blinder">Blinder</option> -->
        </select>

        <input type="hidden" value="" name="setName">
        <input type="hidden" value="" name="deckType">
        <button id="revealButton" type="submit" class="btn btn-primary">Start</button>
      </div>
    </form>
  </div>
</div>


<div id="reveal_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Reveal</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Here are several ways you can slowly reveal an image. Choose a set of 
          images and a style (Spotlight, Fog, Pixels). Then click START.
        </p>
        <hr/>
        <p><strong>Spotlight:</strong> The screen is dark except for a small 
          circle of light at the mouse pointer. The light will slowly get larger 
          as you move the pointer. Try to avoid anything that will give the
          image away too quickly.</p>
        <p><strong>Fog:</strong> The image will not be visible at first. Press 
          &rarr; and something will slowly appear out of the fog. You can tap 
          the &rarr; key as slowly as you like or hold it down.</p>
        <p><strong>Pixels:</strong> There will be only large pixels on the
          screen. Press &rarr; and the pixels will get smaller and smaller
          until the image is revealed.</p>
          <hr/>
          <p>When someone thinks they know what the image is, they say 'stop' 
            and says the word or any piece of target language - 
          <br/><strong>"I (don't) like <span class="text-primary">tomatoes</span>."</strong>
          <br/><strong>"I study <span class="text-primary">English</span> on 
          Wednesday."</strong>
          <br/>
          Get as many answers as possible even if it's the 
          same answer (The more winners, the better!) If working in groups, have 
          them tell the rest of their group members so they can say it together.
          Then, reveal, rejoice and hit <kbd>Enter</kbd> repeat!
        </p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("#revealButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("Please select a deck.");
    }
    else if (!$("#reveal select[name='style']").val()) {
      alert("Please select a style.");
    }
    else {
      $("#reveal input[name='setName']").val(window.setName);
      $("#reveal input[name='deckType']").val(window.deckType);
      $("#reveal").submit();
    }
  });
});
</script>