<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">REVEAL</strong>
  <button class="btn btn-sm btn-outline-info mb-2" 
          data-bs-toggle="modal" data-bs-target="#reveal_modal">
    <i class="material-icons md-small">info</i>
  </button>
  <form id="reveal" action="reveal" method="GET" class="d-flex justify-content-end w-100 mb-2">

    <select class="form-control" name="style" required>
      <option value="" disabled selected>Style</option>
      <option value="spotlight">Spotlight</option>
      <option value="blur">Blur</option>
      <option value="pixelate">Pixelate</option>
      <!-- <option value="blinder">Blinder</option> -->
    </select>

    <input type="hidden" value="" name="setName">
    <input type="hidden" value="" name="deckType">
    <input type="hidden" value="" name="NHpage">
    <button id="revealButton" type="submit" class="btn btn-primary">Start</button>
  </form>
</div>


<div id="reveal_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Reveal</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Here are several ways you can slowly reveal an image.
        </p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("#revealButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName) {
      alert("Please select a deck.");
    }
    else {
      $("#reveal input[name='NHpage']").val(window.NHpage);
      $("#reveal input[name='setName']").val(window.setName);
      $("#reveal input[name='deckType']").val(window.deckType);
      $("#reveal").submit();
    }
  });
});
</script>