<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">MATCH</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-info me-1" 
            data-bs-toggle="modal" data-bs-target="#match_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="matchForm" action="match" method="GET">
      <div class="d-flex" style="height:100%;">
        <select class="form-control" name="backs">
          <option value="" disabled selected>Card Backs</option>
          <option value="colors">Colors</option>
          <option value="numbers">Numbers</option>
          <option value="colorsNumbers">Color & Num.</option>
          <option value="colorsShapes">Color & Shape</option>
          <option value="animals">Animals</option>
          <option value="objects">Objects</option>
        </select>
        <input type="hidden" value="" name="setName">
        <input type="hidden" value="" name="deckType">
        <button id="matchButton" type="submit" class="btn btn-primary">Start</button>
      </div>
    </form>
  
  </div>
</div>


<div id="match_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Match</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This is a good old-fashioned memory game (AKA concentration).
           Select which card backs you want to use. That's what the students
           will call out to let you know what to flip.</p>
           You can do this as a cooperative activity by letting a student
           (or group) call out only one card and letting the next student or
           group call out the next card. Let the whole class call out the last
           card (since everyone can agree on which one they want to flip) and
           everyone wins!
        <hr/>
        <p>*Pro tip: If you use the 'lower_case_mix' deck with the 'animals' or 'objects'
          card backs, the animals or objects that start with the same letter will be a match.</p>
        <hr/>
        <p class="small">I'd like to eventually be able to match two related 
          words or pictures (not just identical). For example, a picture of a
          cat and the word "cat" or two opposite adjectives.
        </p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("#matchButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("Please select a deck.");
    }
    else {
      $("#matchForm input[name='setName']").val(window.setName);
      $("#matchForm input[name='deckType']").val(window.deckType);
      $("#matchForm").submit();
    }
  });
});
</script>