<div class="rounded-3 border p-1 shadow d-flex">
  <i class="material-icons text-secondary" 
    style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
    data-bs-toggle="modal" data-bs-target="#grid_modal">
    info
  </i>
  <strong class="text-primary h3">GRID</strong>


  <form id="gridForm" action="/grid" method="GET" class="d-flex justify-content-end w-100">

    <div class="d-flex" style="height:100%;">
      <input type="hidden" value="" name="deck">
      <input type="hidden" value="" name="deckType">

      <div class="form-check me-3">
        <input type="checkbox" value="true" name="text" class="form-check-input">
        <label class="form-check-label small text-center" for="text">Text</label>
      </div>

      <input type="number" min="4" value="25" name="spaces" class="form-control" style="width:4.5rem;">

      <button id="gridButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
    </div>
  </form>

</div>

<%- include ("../modals/modal_grid.ejs") %>

<script>
$(function(){
  $("#gridButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.deck || window.deck.length == 0) {
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $("#gridForm input[name='deck']").val(JSON.stringify(window.deck));
      $("#gridForm input[name='deckType']").val(window.deckType);
      $("#gridForm").submit();
    }
  });
});

</script>