<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">TYPE</strong>
  
  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-info" 
            data-bs-toggle="modal" data-bs-target="#type_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form action="type" method="GET">
      <button type="submit" class="btn btn-primary" style="height:100%">Start</button>
    </form>
  </div>
</div>


<div id="type_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h3 class="modal-title">Type</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>This is a simple rich text editor. It's still buggy but you can click
          COPY to copy an html version of what's in the editor to the clipboard.
          You can also save it as an html file.
        </p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
});
</script>