<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">FLASH</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-info" 
            data-bs-toggle="modal" data-bs-target="#flash_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <form id="flashForm" action="flash" method="GET">
      <input type="hidden" value="" name="setName">
      <input type="hidden" value="" name="deckType">
      <button id="flashButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
    </form>
  </div>
</div>


<div id="flash_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Flash Cards</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h5>&rarr; = NEXT<br/>
        &larr; = PREV<br/>
        &uarr; = Save for Review</h5><br/>
        <b>The 'Start' button will change. </b><br/>
        <b>'Clear'</b> appears when you're at the first card in the deck in case you just need to clear the screen.<br/>
        <b>'Restart'</b> appers after you've started proceeding through the deck.<br/>
        <b>'Review'</b> and the number of items selected for review appears as soon as there are any.<br/>
        <b>'Restart Set'</b> appears at the first card in the review deck. Clicking this will remove the review deck.<br/>
        <b>'Restart Review'</b> appears after you've started proceeding through the review deck.<br/>
        <b>'Review'</b> and the number of items selected for review will appear again if you select items for further review from the review deck.<br/><br/>
      </div>
    </div>
  </div>
</div>



<script>
$(function(){
  $("#flashButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("Please select a deck.");
    }
    else {
      $("#flashForm input[name='setName']").val(window.setName);
      $("#flashForm input[name='deckType']").val(window.deckType);
      $("#flashForm").submit();
    }
  });
});

</script>