<div class="rounded-3 border p-1 shadow d-flex">  
  <i class="material-icons text-secondary" 
    style="line-height:1.4rem;font-size:1.4rem;cursor:pointer;" 
    data-bs-toggle="modal" data-bs-target="#reveal_modal">
    info
  </i>
  <strong class="text-primary h3">REVEAL</strong>

  <form id="reveal" action="/reveal" method="POST" class="d-flex justify-content-end w-100">
    <div class="d-flex" style="height:100%;">
      <select class="form-control" name="style" required>
        <option value="" disabled selected>Style</option>
        <option value="spotlight">Spotlight</option>
        <option value="blur">Fog</option>
        <option value="pixelate">Pixels</option>
      </select>

      <input type="hidden" value="" name="deck">
      <input type="hidden" value="" name="deckType">
      <button type="submit" class="btn btn-primary">Start</button>
    </div>
  </form>
</div>

<%- include ("../modals/modal_reveal.ejs") %>

<script>
$(function(){
  $("#reveal").on('submit', (e)=>{
    if (!window.deck || window.deck.length == 0) {
      e.preventDefault();
      alert("<%- __('pleaseSelect') %>");
    }
    else {
      $("#reveal input[name='deck']").val(JSON.stringify(window.deck));
      $("#reveal input[name='deckType']").val(window.deckType);
    }
  });
});
</script>