<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">BINGO</strong>

  <div class="d-flex justify-content-end w-100">

    <button class="btn btn-outline-info me-1" 
            data-bs-toggle="modal" data-bs-target="#bingo_modal">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">info</i>
    </button>

    <a href="/image/bingo.jpg" download="2BingoCards.jpg" class="btn btn-outline-secondary me-1">
      <i class="material-icons" style="line-height:1rem;vertical-align:middle;">download</i>
    </a>

    <form id="bingoForm" action="bingo" method="GET">
      <input type="hidden" value="" name="setName">
      <input type="hidden" value="" name="deckType">
      <button id="bingoButton" type="submit" class="btn btn-primary" style="height:100%;">Start</button>
    </form>
  </div>
</div>


<div id="bingo_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">BINGO</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Have the students choose a random selection of words on the screen 
          and write them on a sheet of paper in a grid. Have them use a...
          <ul>
            <li>5x5 grid if there are at least 25 words</li>
            <li>4x4 grid if there are at least 16 words</li>
            <li>3x3 grid if there are at least 9 words</li>
          </ul>
          Then click start. The words will appear in random order. Use the
          navigation buttons or &larr; &rarr; to navigate through the 
          words/images. The student find and circle the ones they chose. The 
          first student to cross off all the words in a row wins.
        </p>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("#bingoButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.setName || window.setName == '{}') {
      alert("Please select a deck.");
    }
    else {
      $("#bingoForm input[name='setName']").val(window.setName);
      $("#bingoForm input[name='deckType']").val(window.deckType);
      $("#bingoForm").submit();
    }
  });
});
</script>