<p class="deets">
  First of all, I should discuss Tatsuno's approach to teaching English in
  relation to my understanding of how some other cities handle it.
</p>

<ul>
  <li>
    Each city has its own overall approach to teaching English in Elementary school.
    <p class="deets">
      Some cities have English specialists who are responsible for teaching
      English to 3rd through 6th grades. Some cities have any combination of 
      homeroom teachers, English specialists or English teachers from Jr. high 
      schools come to teach English in elementary schools. This depends on 
      location, number of students and availability of staff. 
    </p>
    <p class="deets">
      Some cities hire enough ALTs to join each class each week. Other cities 
      only hire enough ALTs to join each class once or twice a month.
    </p>
  </li>

  <li>
    There are different ALT agencies for cities to choose from.
    <p class="deets">
      Each agency has its own hiring standards, employment benefits and training
      procedures. But, generally, the 'ALT' position is considered a temporary
      position. This inevitably has some effect on how seriously their role is 
      taken. More on this very complicated aspect a bit later.
    </p>
  </li>

  <li>
    Different cities have different working relationships with their ALT agencies.
    <p class="deets">
      Although the English curriculum is determined by the prefecture, cities that
      rely more heavily on ALTs may also rely on their respective agencies for
      providing lesson plans and teacher training. Some cities also ask ALTs to
      take on a more active role in the classroom than others. There are even
      cities that are considering foregoing the ALT position altogether and
      hiring native English speakers to teach English lessons assisted by the
      homeroom teachers.
    </p>
  </li>
</ul>


<details>
  <summary>As for Tatsuno...</summary>
  <p>
    The city of Tatsuno covers a large area with schools of all sizes. So the
    teaching situations vary quite a bit. Generally, 3rd and 4th grade homeroom 
    teachers lead English lessons once a week with the ALT assisting each time.
    5th and 6th grade classes have English lessons twice a week; The first lesson
    is taught either by an English specialist or the homeroom teacher alone. 
    The second is taught by the same person assisted by an ALT.
  </p>
  <p>
    The agency that trains and provides ALTs for Tatsuno also facilitates 
    training sessions for teachers. These sessions are voluntary for homeroom 
    teachers. However, English specialists are required to attend these sessions 
    periodically as well as other training sessions facilitated by the 
    prefecture. This is a balanced and relatively progressive approach.
  </p>

  <ul>
    <li>
      Every student can interact with a native English speaker at least once a week.
    </li>
    <li>
      Homeroom teachers for 3rd and 4th grade make great English speaking role
      models for their students.
    </li>
    <li>
      Older students get some English instruction exclusively with a Japanese teacher.
      <p class="deets">Many students need certain things explained thoroughly as
        well as opportunities to ask questions without the pressure of being
        expected to use language they're not comfortable with yet.
      </p>
    </li>
    <li>
      Then, they have a second lesson to practice what they've learned.
      <p class="deets">This has the potential to be very productive and fun. It's
        also really important to give the students confidence and enthusiasm
        before they enter the junior high school English program.
      </p>
    </li>
  </ul>
  <p class="deets">
    It was done a bit differently last year and will be done a bit differently
    next year as Tatsuno pushes to unify the curriculum between elementary and jr.
    high school.
  </p>
</details>