<p>
  Each city has a different approach to teaching English overall. Some cities 
  have English specialists who are responsible for teaching English to 3rd 
  through 6th grades. Other cities have English specialist teach 5th and 6th 
  grades while homeroom teachers take responsibility for 3rd and 4th grade 
  lessons. Some cities have an ALT join every week. Other cities have an ALT 
  join one to three lessons a month.
</p>

<p>
  Although the English curriculum is determined by the prefecture, cities that 
  rely more heavily on ALTs may also rely on their respective agenciees for 
  providing lesson plans and teacher training. Some cities ask ALTs to take on a
  more active role in the classroom than others. There are even cities that are
  considering foregoeing the ALT position altogether and hiring native English 
  speakers to teach English lessons assisted by the homeroom teachers.
</p>

<hr/>

<p>
  Currently (2024), the city of Tatsuno has 3rd and 4th grade homeroom teachers
  teaching English lessons once each week with the ALT assisting. 5th and 6th 
  grade classes have English lessons twice each week. The first lesson is taught 
  by an English specialist. The second is taught by the same English specialist 
  assisted by an ALT.
</p>

<p>
  This is a balanced and relatively progressive approach. It gives each 3rd and 
  4th grade homeroom teachers a chance to be an English speaking role model for 
  their students by using 'classroom English' and demonstrating English 
  conversation with the ALT. When students enter 5th grade, they have one lesson 
  exclusively with a Japanese teacher to get comfortable with the more 
  challenging language and ask questions without pressure. Then, they have a 
  second lesson to have fun practicing what they've learned and engaging with 
  the ALT.
</p>
<p>
  The agency that trains and provides ALTs for Tatsuno also facilitates training 
  sessions for teachers. These sessions are voluntary for homeroom teachers. 
  However, English specialists are required to attend these sessions 
  periodically as well as other training sessions facilitated by the prefecture.
</p>
