<ul>
  <li>
    Each city has a different overall approach to teaching English.
    <p class="deets">
      Some cities have English specialists who are responsible for teaching
      English to 3rd through 6th grades. Other cities have English specialists
      teach 5th and 6th grades while homeroom teachers take responsibility for
      3rd and 4th grade lessons. Some cities hire enough ALTs to join each class
      each week. Other cities only hire enough ALTs to join each class once or
      twice a month.
    </p>
  </li>

  <li>
    There are different ALT agencies for cities to choose from.
    <p class="deets">
      Each agency has its own hiring standards, employment benefits and training
      procedures. But, generally, the 'ALT' position is considered low-wage
      temporary work. This inevitably has some effect on how seriously an ALT
      takes the work they're doing but, more importantly, it affects how
      seriously the work they do is taken by the staff and students they work
      for. (More on this very complicated aspect later.)
    </p>
  </li>

  <li>
    Different cities have different working relationships with their ALT agencies.
    <p class="deets">
      Although the English curriculum is determined by the prefecture, cities that
      rely more heavily on ALTs may also rely on their respective agenciees for
      providing lesson plans and teacher training. Some cities ask ALTs to take on a
      more active role in the classroom than others. There are even cities that are
      considering foregoeing the ALT position altogether and hiring native English
      speakers to teach English lessons assisted by the homeroom teachers.
    </p>
  </li>
</ul>


<details>
  <summary>As for Tatsuno...</summary>
<p>
  Currently (2024), the city of Tatsuno has 3rd and 4th grade homeroom teachers
  leading English lessons once each week with the ALT assisting. 5th and 6th
  grade classes have English lessons twice each week; The first lesson is
  taught by an English specialist. The second is taught by the same English
  specialist assisted by an ALT. The agency that trains and provides ALTs for 
  Tatsuno also facilitates training sessions for teachers. These sessions are 
  voluntary for homeroom teachers. However, English specialists are required to 
  attend these sessions periodically as well as other training sessions 
  facilitated by the prefecture. This is a balanced and relatively progressive 
  approach.</p>

<ul>
  <li>
    Every student can interact with a native English speaker at least once a week.
  </li>
  <li>
    Homeroom teachers for 3rd and 4th grade make good English speaking role
    models for their students.
  </li>
  <li>
    Older students get some English instruction exclusively with a Japanese teacher.
    <p class="deets">Many students need certain things explained thoroughly as
      well as opportunities to ask questions without the pressure of being
      expected use language they're not comfortable with yet.
    </p>
  </li>
  <li>
    Then, they have a second lesson to practicing what they've learned.
    <p class="deets">This has the potential to be very productive and fun. It's
      also really important to give the students confidence and enthusiasm 
      before they enter the junior high school English program.
    </p>
  </li>
</ul>
</details>