<div id="school" class="accordion">
  <h2 id="item_class_num" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#content_class_num" aria-expanded="true" aria-controls="item_class_num">
      It depends on the number of classes.
    </button>
  </h2>
  <div id="content_class_num" class="accordion-collapse collapse bg-white border shadow ps-5" style="cursor:pointer;"
    title="item_class_num" aria-labelledby="head_class_num" data-bs-parent="#school">
    <p>
      Each school has a different number of classes in each grade and alltogether.
    </p>
    <p>
      Oyake is a large school with either five or six classes in each grade.
      For 3rd and 4th grades, it would be impractical to meet with each
      of 12 homeroom teachers to discuss what to do in class. Instead, one of
      the homeroom teachers in each grade makes the class plan for all teachers
      in that grade. This is the only way to keep all classes on the same page.
      However, there are a few problems built in to this approach.
    </p>

    <ul>
      <li>
        Most teachers must do their best to follow a lesson plan written by someone else.
        <p class="deets">
          The teacher who actually makes the lesson plan with the ALT knows
          exactly what to do and when. Other teachers receive a copy of
          the lesson plan but may not understand exactly how to proceed or where
          they are needed to explain or help demonstrate. It's also easy to
          overlook things that need to be prepared before class.</p>
      </li>
      <li>
        It's difficult to refine the lesson plan because it's already written.
        <p class="deets">
          The ALT gains valuable experience each time they teach the lesson and
          may find something that needs more clarification or a more fun way to do
          something. And there isn't often an opportunity to communicate this to
          the next teacher(s).</p>
      </li>
      <li>
        The scheduling and rescheduling lessons can get very chaotic.
        <p class="deets">
        The schedule in Elementary school can be very unpredictable - even more
        so with more classes. Different classes in the same grade are often at 
        different points in the curriculum. This makes it a bit harder to keep 
        track of what each class needs to be doing.</p>
      </li>
    </ul>

    <p>There are several smaller schools in Tatsuno which face a different set of challenges.</p>
    <ul>
      <li>
        The ALT may only be at the school one or two days a week.
        <p class="deets"> The fewer days an ALT is at a particular
          school, the fewer opportunities there are to build relationships with
          students or discuss classes and teaching ideas with other teachers.
        </p>
      </li>
      <li>
        There may be <i>no</i> opportunity to discuss lesson plans.
        <p class="deets">
          It's usually preferable to plan classes well ahead. However, if the
          only day to discuss a class is the day <i>of</i> class, the ALT barely 
          has any opportunity to ask questions, discuss ideas for activities or
          even suggest improvements.
        </p>

      </li>
    </ul>
  </div>


  <h2 id="item_class_size" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#content_class_size" aria-expanded="true" aria-controls="item_class_size">
      It depends on the class size.
    </button>
  </h2>
  <div id="content_class_size" class="accordion-collapse collapse bg-white border shadow ps-5" style="cursor:pointer;"
    title="item_class_size" aria-labelledby="head_class_size" data-bs-parent="#school">
    <p>
      In general, classes for learning a foreign language need to be large enough
      to limit the amount of pressure on each individual student while creating
      a fun community atmosphere. They also need to be large enough to allow pair
      conversation or group work. They should also be small enough that the
      overall noise doesn't drown out each person speaking and the teacher is
      able to give each student attention and feedback.
    </p>
    <p>
      Most classes in public school are between 30 and 40 students..............
    </p>
  </div>


  <h2 id="item_staff" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#content_staff"
      aria-expanded="true" aria-controls="item_staff">
      It depends on the available staff of the school.
    </button>
  </h2>
  <div id="content_staff" class="accordion-collapse collapse bg-white border shadow ps-5" style="cursor:pointer;"
    title="item_staff" aria-labelledby="head_staff" data-bs-parent="#school">
    STAFF
  </div>


  <h2 id="item_resources" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#content_resources" aria-expanded="true" aria-controls="item_resources">
      It depends on the available resources of the school.
    </button>
  </h2>
  <div id="content_resources" class="accordion-collapse collapse bg-white border shadow ps-5" style="cursor:pointer;"
    title="item_resources" aria-labelledby="head_resources" data-bs-parent="#school">
    RESOURCES
  </div>

</div>