<p class="deets">
  Even within the same city, English instruction differs between schools. There
  are many factors. Among the most significant are...
</p>

<div id="school_a" class="accordion">

  <h2 id="class_h" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#class_c"
      aria-expanded="true" aria-controls="class_h">
      It depends on the number of classes.
    </button>
  </h2>
  <div id="class_c" class="accordion-collapse collapse bg-white border shadow p-3" style="cursor:pointer;"
    aria-labelledby="class_h" data-bs-parent="#school_a">
    <p>
      Each school has a different number of classes in each grade and alltogether.
      For large schools, planning lessons may be delegated.
    </p>
    <p class="deets">
      I worked at a large school this year with either five or six classes in
      each grade. For 3rd and 4th grades, it would be impractical to meet with
      each of 12 homeroom teachers to discuss what to do in class. Instead, one
      of the homeroom teachers in each grade made the lesson plan for all
      teachers in that grade. This is how we kept all classes on the same page.
      However, there are a few problems built in to this approach.
    </p>
    <ul>
      <li>
        Most teachers follow a lesson plan written by someone else.
        <p class="deets">
          The teacher who actually makes the lesson plan with the ALT knows
          exactly what to do and when. Other teachers receive a copy of
          the lesson plan but may not understand exactly how to proceed or where
          they are needed to explain or help demonstrate. Even if it is made
          clear, there may be several days before the plan is used in the
          classroom. It's also easy to overlook things that need to be prepared
          before class.</p>
      </li>
      <li>
        It's difficult to refine the lesson plan because it's already written.
        <p class="deets">
          The ALT gains valuable experience each time they teach the lesson and
          may find something that needs more clarification or a more fun way to
          do something. And there isn't often an opportunity to communicate this
          to the next teacher(s) but doing things off-script may create
          confusion.
        </p>
      </li>
      <li>
        The scheduling and rescheduling of lessons can get very chaotic.
        <p class="deets">
          The schedule in Elementary school can be very unpredictable - even more
          so with more classes. Different classes in the same grade are often at
          different points in the curriculum. This makes it a bit harder to keep
          track of what each class needs to be doing.</p>
      </li>
    </ul>

    <p>There are several smaller schools in Tatsuno which face a different set
      of challenges.
    </p>
    <ul>
      <li>
        The ALT may only be at the school one or two days a week.
        <p class="deets"> The fewer days an ALT is at a particular
          school, the fewer opportunities there are to build relationships with
          students or discuss classes and teaching ideas with other teachers.
        </p>
      </li>
      <li>
        There may be <i>no</i> opportunity to discuss lesson plans.
        <p class="deets">
          It's usually preferable to plan classes well ahead. However, if the
          only day to discuss a class is the day <i>of</i> class, the ALT barely
          has any opportunity to ask questions, discuss ideas for activities or
          even suggest improvements.
        </p>

      </li>
      <li>
        The ability to reschedule lessons is very limited.
        <p class="deets">
          It's impossible to reschedule a lesson for a different day the same
          week because the ALT is only there one day a week. This means there
          may be large gaps between lessons more often.
      </li>
    </ul>
  </div>


  <h2 id="size_h" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#size_c"
      aria-expanded="true" aria-controls="size_h">
      It depends on the class size.
    </button>
  </h2>
  <div id="size_c" class="accordion-collapse collapse bg-white border shadow p-3" style="cursor:pointer;"
    aria-labelledby="size_h" data-bs-parent="#school_a">
    <p>
      In general, classes for learning a foreign language need to be large
      enough to create a fun atmosphere and limit the amount of pressure on each
      individual student. They also need to be large enough to allow pair
      conversation or group work. However, they should be small enough that the
      overall noise doesn't drown out each person speaking and the teacher is
      able to give each student attention and feedback.
    </p>
    <p>
      Most classes in public school are 30~35 students. This is certainly 
      large enough to create a fun low-pressure atmosphere... so much so 
      that the classes can become very difficult to manage.
    </p>
    <ul>
      <li>
        Some challenges that also exist in smaller classes are compounded.
        <p class="deets">
          Some students demand
          attention and will disrupt the lesson to get it. Others, who also need
          attention but are less vocal, may feel neglected and lose interest. While
          these points are also true in smaller classes, in larger classes it
          becomes far more pronounced when students who cry out for attention have
          to either combine forces or compete with each other to get the attention
          they need. Likewise, the larger number of students who are unwilling to
          ask for help almost guarantees that the teacher will be unable to engage
          each one of them individually to give them the attention they need.
        </p>
        <p class="deets">In short, it's too difficult to stand out from the 
          crowd and too easy to disappear into it.
        </p>
      </li>
      <li>
          The approach that makes large classes manageable when teaching other
          subjects doesn't work well for English lessons.
        <p class="deets">
          A teacher-centered classroom where students
          face forward and speak only to the teacher only when called upon may be
          the way to create a manageable classroom setting in situations where 
          the students are expected to solve problems and retain information. 
          However, classes that focus on communication cannot be expected to 
          operate effectively in this way.
        </p>
        <p class="deets">There is great potential for developing a student-centered approach.</p>
      </li>
    </ul>

  </div>
</div>