<div id="school" class="accordion">
  <h2 id="item_class_num" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_class_num" 
            aria-expanded="true" aria-controls="item_class_num">
      It depends on the number of classes.
    </button>
  </h2>
  <div id="content_class_num"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_class_num"
      aria-labelledby="head_class_num" data-bs-parent="#school">
    <p>
      Each school has a different number of classes in each grade. There are
      several smaller schools in Tatsuno which means that the ALT may only be
      there one or two days a week. The fewer days an ALT is at a particular
      school, the fewer opportunities there are to build relationships with
      students or discuss classes and teaching ideas with other teachers.
    </p>

    <p>
      Oyake is a large school with either five or six classes in each grade. 
      For 3rd and 4th grade classes, it would be impractical to meet with each 
      of 12 homeroom teachers to discuss what to do in class. Instead, one of 
      the homeroom teachers in each grade makes the class plan for all teachers 
      in that grade. This is the only way to keep all classes on the same page. 
      However, there are a few problems built in to this approach.
    </p>

    <br/><br/>

    <ul>
      <li>
        The teacher who actually makes the lesson plan with the ALT knows 
        exactly what to do and when. Other teachers always receive a copy of 
        the lesson plan but may not understand exactly how to proceed or where 
        they are needed to explain or help demonstrate. It may also not be clear 
        what needs to be prepared before class.
      </li>
      <li>
        The ALT develops an ongoing working relationship with one teacher but 
        only really has an opportunity to interact with other teachers during 
        lessons.
      </li>
      <li>
        Because the schedule in Elementary school can be very unpredictable,
        different classes in the same grade are often at different points in
        the lesson plan. This makes it a bit harder to keep track of what to do.
      </li>

    </ul>


    <p>
      This is still preferable to the situation at some schools where the ALT
      has no opportunity to discuss the lesson plan with the teacher who made
      it. This means that the ALT may not be able to ask questions about the
      plan or make suggestions for improvement.
    </p>

  </div>


  <h2 id="item_class_size" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_class_size" 
            aria-expanded="true" aria-controls="item_class_size">
      It depends on the class size.
    </button>
  </h2>
  <div id="content_class_size"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_class_size"
      aria-labelledby="head_class_size" data-bs-parent="#school">
      CLASS SIZE
  </div>


  <h2 id="item_location" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_location" 
            aria-expanded="true" aria-controls="item_location">
      It depends on the location of the school.
    </button>
  </h2>
  <div id="content_location"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_location"
      aria-labelledby="head_location" data-bs-parent="#school">
      LOCATION
  </div>


  <h2 id="item_staff" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_staff" 
            aria-expanded="true" aria-controls="item_staff">
      It depends on the available staff of the school.
    </button>
  </h2>
  <div id="content_staff"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_staff"
      aria-labelledby="head_staff" data-bs-parent="#school">
      STAFF
  </div>


  <h2 id="item_resources" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" 
            data-bs-toggle="collapse" data-bs-target="#content_resources" 
            aria-expanded="true" aria-controls="item_resources">
      It depends on the available resources of the school.
    </button>
  </h2>
  <div id="content_resources"
      class="accordion-collapse collapse bg-white border shadow ps-5" 
      style="cursor:pointer;"
      title="item_resources"
      aria-labelledby="head_resources" data-bs-parent="#school">
      STAFF
  </div>

</div>
