<ul>
  <li>
    3rd and 4th grade classes are considered an 'activity'.
    <p class="deets"> Classes in these grades are only taught once a week. The
      homeroom teacher is considered T1 and leads the lesson. The ALT follows
      their lead as T2. The students are not graded.
  </li>

  <li>
    5th and 6th grade classes are considered a 'subject'.
    <ul>
      <li> They are taught twice a week.
        <p class="deets">Again, one lesson is led either by the homeroom teacher
          or an English specialist as T1 (without the ALT). The other lesson has 
          that teacher assisted by the ALT as T2.
        </p>
      </li>
      <li>
        Students are required to take listening and conversation tests.
      </li>
      <li>
        Students' perfomance in English class is reflected on their report card.
      </li>
    </ul>
  </li>

  <p>

  </p>
</ul>