<details>
  <summary>Each ALT has their own idea of what thier role is and should be.</summary>

  <p class="deets">
    Some ALTs take their role as educators more seriously than the term
    'assistant language teacher' recognizes. They want to do anything they can
    to improve their students' communication skills and be a positive
    influence on their lives.
  </p>
  <p class="deets">
    Some ALTs are are happy to take on a temporary position sharing their
    language and culture with children for a year or two while they enjoy the
    experience of learning a bit about the language and culture of a foreign
    country themselves.
  </p>
  <p class="deets">
    Of course either (and everything in between) is perfectly fine but, each
    ALT must deal with the previous experiences and expectations of staff
    members who have worked with other ALTs.
  </p>
  <p>
    ALTs may face unreasonable expectations of their ability to lead engaging
    and productive lessons in such a challenging situation. Assuming that they
    should be expected to lead the lesson in the first place.</p>
  <p>
    Facing unreasonably low expectations presents a different struggle.
  </p>
  <ul>
    <li>
      It may be difficult to get their ideas and methods put into practice or even
      try things to find out what works, what doesn't work and why.
    </li>
    <li>
      They may only be asked to flash cards and model pronunciation a few
      times during class.

      <p class="deets">
        The ALT may spend a lot of the class time just
        waiting for their cue. It's sometimes difficult to stay engaged in the
        lesson themselves.
      </p>
      <p class="deets">
        With the HRT/JTE responsible for setting the pace and flow of the
        lesson, they will naturally end up modeling some language themselves.
        Even more so in 5th and 6th grade classes because, for one lesson each
        week, there is no ALT to ask. It just somes naturally to model the
        language themselves.
      </p>
    </li>
    <li>
      Although it may be appreciated and even encouraged, it's not
      expected that the ALT will develop a meaningful relationship with
      the students.
      <p class="deets">
        Even if an ALT sticks with the job for more than a year, they are
        often reassigned to other schools. Homeroom teachers who spend
        all day every day with their students know their students very
        well. Even even JTEs who spend two hours a week for a number of
        years can at least be expected to remember all their students'
        names. This is not so for ALTs who spend 45 minutes a week with
        each class of 30+ students for one year (even in classes where
        the students wear name tags).
      </p>
    </li>
  </ul>
</details>

<details>
  <summary>
    It may be difficult to find experienced ALTs or to keep those that gain experience.
  </summary>
  <p>Teaching English as a second language to large groups of small children in
    mixed-level classes is probably the most challenging EFL teaching situation
    there is. Although the job is certainly available to experienced teachers
    and it's preferable to sign ALTs who have gained experience, many of those
    people opt for more lucrative and less strenuous job opportunities.
  </p>
</details>
<details>
  <summary>
    'Experience' beyond teaching materials and methodology is important too.
  </summary>
  <p>
    The term 'culture shock' refers to the difficulty of getting used to 
    doing and thinking about things differently. Something more akin to culture 
    fatigue starts to set in after a few years of getting used to a cluture that 
    doesn't seem to be getting used to you.
    </p>
    <p class="deets">
    Many ALTs are just serious enough 
    about their work and just experienced enough working in the field that they 
    become frustrated with the lack of influence they have on improving their 
    own situation and the circumstances for their students.
  </p>
  <p class="deets">
    It is difficult to stay optimistic when you always feel like the new guy, an 
    outsider or a guest at your workplace. Again, some people are fine with the
    temporary ALT position but others hope to eventually gain a real sense of 
    job security and a sense that they are an experienced and valued part of a 
    team.
  </p>
</details>
