<div id="teachers_a" class="accordion">
  <h2 id="hrt_h" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hrt_c"
      aria-expanded="true" aria-controls="hrt_h">
      It depends on the homeroom teacher (when acting as T1).
    </button>
  </h2>
  <div id="hrt_c" class="accordion-collapse collapse bg-white border shadow p-3" style="cursor:pointer;"
    aria-labelledby="hrt_h" data-bs-parent="#teachers_a">
    <p class="deets">
      Before I get into this, I need to emphasize how hard all of these teachers
      are working at their extremely complicated and difficult jobs. I hope my
      comments are interpreted with the utmost respect for the work they all do.
    </p>
    <ul>
      <li>
        Some homeroom teachers are more proficient in English than others.
      </li>
      <li>
        Some homeroom teachers have enough <i>confidence</i> in their English proficiency.
        <p class="deets">Many people (even teachers) hide their English proficiency. They
          may understand English well enough to lead an English lesson but
          that doesn't mean they have enough confidence in their own ability
          to feel comfortable leading an English lesson.
        </p>
      </li>
      <li>
        Some homeroom teachers would just rather leave it to the pros.
        <p class="deets">Proficient in English or not, some would simply rather leave the
          English instruction to a native speaker or at least someone who
          specializes in it. This is how other subjects like music and
          calligraphy are handled. And again, homeroom teachers already handle
          an enormous load.
        </p>
      </li>
      <li>
        Many teachers are quite confident and enthusiastic about teaching English.
        <p class="deets">
          Early on, I made the mistake of assuming that everyone would be happy
          if I took on as much of the responsibility for English lessons as 
          possible. In reality, I was just depriving them of an opportunity to 
          set a good example for their students by taking a more active role in 
          English lessons themselves.
        </p>
      </li>
    </ul>

  </div>


  <h2 id="alt_h" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#alt_c"
      aria-expanded="true" aria-controls="alt_h">
      It depends on the ALT.
    </button>
  </h2>
  <div id="alt_c" class="accordion-collapse collapse bg-white border shadow p-3" style="cursor:pointer;"
    aria-labelledby="alt_h" data-bs-parent="#teachers_a">
    <%- include('45') %>
  </div>


  <h2 id="rel_h" class="accordion-header border shadow">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#rel_c"
      aria-expanded="true" aria-controls="rel_h">
      It depends on the working relationship between all teaching staff.
    </button>
  </h2>
  <div id="rel_c" class="accordion-collapse collapse bg-white border shadow p-3" style="cursor:pointer;"
    aria-labelledby="rel_h" data-bs-parent="#teachers_a">

    <p>Due to all the variables discussed thus far, ALTs must be very flexible
      in their approach to teaching.</p>
    <details>
      <summary>When an English specialist is leading the class...</summary>
      <p>Even experienced ALTs
        have to be comfortable following their lead. The ALT may have many
        suggestions regarding the curriculum, materials or pedagogy but it's
        ultimately the JTE who bears responsibility for what the students cover.
        The JTE teaches another entire lesson solo each week, so they will have
        a better idea of where those specific students are and how the class needs
        to be managed.
      </p>
    </details>
    <details>
      <summary>When the homeroom teacher leads the class...</summary>
      <p>ALTs need to be comfortable following the lead of the homeroom teacher 
        but I believe they also need to be comfortable leading lessons 
        themselves if necessary.
      </p>

      <ul>
        <li>
          HRTs may be absent unexpectedly.
          <p class="deets">
            Sometimes homeroom teachers get sick and the ALT will already be more
            prepared than the substitute teacher. English classes could be
            rescheduled but consistent practice is far better.
          </p>
        </li>
        <li>
          HRTs may have to deal with emergencies.
          <p class="deets">
            Sometimes homeroom teachers have to deal with emergency situations
            involving students and you never know when they will happen or how
            long they will take to resolve.
        </li>
        <li>
          Not all HRTs approach English lessons with the same enthusiasm.
          <p class="deets">
            The concern has been raised that some homeroom teachers are less
            interested in doing their job where teaching English is concerned.
            But consider the fact that teaching English isn't a part of the homeroom
            teachers job in every city. Many have English specialists teaching 3rd
            and 4th grade. Tatsuno could opt for this approach but it's a step
            backward in my opinion.
          </p>
        </li>
        <li>
          Some homeroom teachers simply need more assistance than others.
          <p class="deets">
            If a teacher is willing to lead the class, they certainly should. 
            They may model imperfect pronunciation or make mistakes that a 
            native speaker wouldn't but it's important for students to have a 
            real English-speaking Japanese role model they can look up to.
          </p>
          <p class="deets">
            However, if a teacher is only going to demonstrate unwillingness to 
            try by saying things like, "I don't speak English" out loud during 
            the lesson, it's better to let someone else lead.
          </p>
        </li>
        <li>
          The ALT gains experience each time they teach the same lesson.
          <p class="deets">
            Teaching a lesson once gives them an opportunity to make adjustments so
            that it is smoother, more productive and more fun for subsequent classes.
            Without this insight, each class has to follow the 'rough draft'.
            This is a benefit that the English specialists have that could and 
            should be applied to all classes if possible.
          </p>
        </li>
        <li>
          This is the direction English instruction will eventually need to move anyway.
          <p class="deets">
            It's more efficient for the one person who is going to be present during
            each lesson to prepare for the lesson rather than each homeroom teacher
            being more or less prepared and all of them proceeding in different ways
            because each is more or less willing and more or less able to lead an
            English lesson to begin with.
          </p>
          <p class="deets">
            Also, if one person takes responsibility for leading a lesson and
            another takes responsibility for helping students follow, it's
            better that the HRT who knows their students and how to deal with
            them best - who is able to guide and encourage them in their native
            language be the one helping the students follow along.
          </p>
        </li>
      </ul>
    </details>
  </div>
</div>