<p>
  All students have a chromebook they can use. The level at which they are 
  <i>put</i> to use in class varies by the school, grade and teacher.
</p>

<p>
  Third and fourth grade classes use the "Let's Try" series of textbooks.
  These books were introduced in 2011 and are published by Hyogo prefecture.
  Fifth and sixth grade classes use the "New Horizon" series of textbooks.
  These books are are more current and have very recently been updated.
</p>

<p class="deets">
  The curriculum for teaching English to children at the
  beginner level will be basically the same regardless of which book is used.
  But, the activities, media resources and supplementary materials will vary.
</p>
<p>The shortcomings of <i>any</i> textbook may include...</p>
<ul>
  <li>
    Target language that is outdated, not useful or simply incorrect.
  </li>
  <li>
    Activities that are confusing, difficult or just not fun.
  </li>
  <li>
    Illustrations and media that may be outdated or irrelevant.
  </li>
  <li>
    Inability to facilitate activities when textbooks go missing.
    <p class="deets">
      Students can look at each others' books but they can't write in them.
      Teachers have to be able to accommodate students who don't have their
      textbook or they will be left out of many listening and writing exercises.
      <br />
      Not having the book means not having the materials (cards) included in the
      book. Teachers will have to improvise to make sure students can
      participate in certain conversation activities too.
    </p>
  </li>
</ul>

<p>Some specific shortcomings of the textbooks currently in use include...</p>
<ul>
  <li>
    Numbers to 20 are covered for one month in 3rd grade. Numbers to 12 are
    covered for one month in 4th grade.
    <p class="deets">This is nowhere near enough practice with numbers
      considering they are used for so many things like, time, dates, money etc.
    </p>
  </li>
  <li>
    The difference between singular and plural nouns is also covered very briefly.
    <p class="deets">This is a very important language point in English but it
      can be confusing. The textbook covers it so briefly that teachers may skip
      it entirely.
    </p>
  </li>
  <li>
    Certain activities or examples are not level-appropriate. Teachers have
    <i>no choice</i> but to skip them entirely.
  </li>
  <li>
    Only letter names are taught. Phonetic sounds, reading and writing are
    barely touched on, even in fourth grade.
  </li>
</ul>

<p class="deets">On one hand Teachers may feel like they're not doing their job
  if they don't follow the textbook closely enough. On the other hand, they may
  feel guilty brushing over or skipping things covered in the textbook that seem
  to confusing or irrelevant.
</p>




<details>
  <summary>
    ALTs have a lot to offer!
  </summary>
  <p>
    While it's important for all students to be exposed to the same basic target
    language and that language should follow some logical progression, a textbook
    is just one tool at the teacher's disposal. Teachers must make use of any and
    all tools at their disposal to facilitate the most engaging and productive
    lessons possible. ALTs can help...
  </p>

  <ul>
    <li>
      Provide valuable insight into authentic English usage.
    </li>
    <li>
      Introduce more current or more useful vocabulary and phrases.
    </li>
    <li>
      Help make the most of the textbook and all other available resources.
    </li>
    <li>
      Help develop more relevant and engaging activities or methods to make 
      lessons more interesting and productive.
    </li>
    <li>
      Share interesting aspects of their culture and ask students about theirs.
    </li>
    <li>
      Model pronunciation.
    </li>
  </ul>
</details>