<div class="rounded-3 border p-3 shadow d-flex">
  <strong class="text-primary h3">WORDLE</strong>
  <button class="btn btn-sm btn-outline-info mb-2" 
          data-bs-toggle="modal" data-bs-target="#wordle_modal">
    <i class="material-icons md-small">info</i>
  </button>
  <form id="wordleForm" action="wordle" method="GET" class="d-flex justify-content-end w-100 mb-2">
    <input type="hidden" value="" name="deckName">
    <input type="hidden" value="" name="deckType">
    <button id="wordleButton" type="submit" class="btn btn-primary">Start</button>
  </form>
</div>


<div id="wordle_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h3 class="modal-title">Wordle for Spelling</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>You know the word. Do you know how to spell it?</p>
        <span class="btn btn-warning">Yellow</span> = the letter is somewhere in the word.<br>
        <span class="btn btn-primary">Blue</span> = the letter is in the correct place in the word.<br>
        <span class="btn btn-secondary">Gray</span> = the letter is <em>not</em> in the word.
        <br/>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  $("#wordleButton").on('click', (e)=>{
    e.preventDefault();
    if (!window.deckName) {
      alert("Please select a deck.");
    }
    else {
      $("#wordleForm input[name='deckName']").val(window.deckName);
      $("#wordleForm input[name='deckType']").val(window.deckType);
      $("#wordleForm").submit();
    }
  });
});

</script>