<ul class="nav nav-tabs alert-secondary mb-3">
  <li class="nav-item"><a id="vocab-tab" href="vocab" class="nav-link" data-toggle="tab">vocab</a></li>
  <li class="nav-item"><a id="NH-tab" href="New_Horizons" class="nav-link" data-toggle="tab">New Horizons</a></li>
  <li class="nav-item"><a id="images-tab" href="images" class="nav-link" data-toggle="tab">Images</a></li>
  <li class="nav-item"><a id="tools-tab" href="tools" class="nav-link" data-toggle="tab">Tools</a></li>
</ul>
