<%- include('../head.ejs') -%>

<div class="container-fluid">
  <div id="select" class="row mb-3">
    <!-- <div id="phonics" class="col-3 ps-1 d-flex flex-wrap">
      <div class="w-100">
        Short Vowels
        <div id="short" class="d-flex flex-wrap"></div>
        Long Vowels
        <div id="long" class="d-flex flex-wrap mb-2"></div>
      </div>
    </div> -->
    <div id="themes" class="col d-flex flex-wrap ps-1"></div>
  </div>
  <div class="row">
    <div class="col">
      <div id="list" class="d-flex flex-wrap"></div>
    </div>
  </div>
</div>
<div class="form-group d-flex">
  <button id="removeTags" class="btn btn-danger">Del</button>
  <button id="addTags" class="btn btn-primary">Add</button>
  <input id="newTags" type="text" class="form-control" placeholder="new tag(s)">
</div>

<script src="/script.js"></script>

<script>
$(function(){
  // get all selected tags and files and post them to /tags
  $("#addTags").click(function(){
    var newTags = $("#newTags").val().split(',').map(e => e.trim()).filter(e => e);
    var selectedFiles = [];

    $("input[name='files']:checked").each(function(){
      selectedFiles.push($(this).val().split('.')[0]);
    });

    $.post("tags/add", {newTags, selectedFiles}, function(data){
      if (data == 'success');
        setTimeout(function(){ window.location.reload(); }, 3000);
    });
  });


  $("#removeTags").click(function(){

    var selectedTags = [];
    $("input[name='tags']:checked").each(function(){
      selectedTags.push($(this).val());
    });

    var selectedFiles = [];
    $("input[name='files']:checked").each(function(){
      selectedFiles.push($(this).val().split('.')[0]);
    });

    $.post("tags/remove", {selectedTags, selectedFiles}, function(data){
      if (data == 'success');
        setTimeout(function(){ window.location.reload(); }, 3000);
    });
  });
  

  var tags = {};


  $.getJSON('/image/svg/_tags.json', function(data) {
    tags = data;

    for (let t in tags) {
      $(`#themes`).append(`
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="tags" id="tag_${t}" value="${t}" aria-label="tags">
          <label class="form-check-label me-2" style="margin-left:-5px;" for="tag_${t}">${t} (${tags[t].length})</label>
        </div>`);
    }

    $("#themes input").on('change', function(){
      let files = tags[ $(this).val() ];
      console.log(files);
      if ($(this).is(':checked')){
        for (let f of files){
          $("#list").append(`
            <div class="form-check p-3">
              <img src="/image/svg/${f}.svg" alt="${f}" style="max-width:128px;max-height:64px;">
              <input class="form-check-input" type="checkbox" name="files" id="file_${f}" value="${f}" aria-label="tags">
              <label class="form-check-label me-2" style="margin-left:-5px;" for="file_${f}">${f.split('.')[0]}</label>
            </div>`);
        }
      } else {
        for (let f of files){
          $(`#file_${f}`).parent().remove();
        }
      }
    });

  });


});
</script>

<%- include('../foot.ejs') -%>
