<div class="row">

  <div class="col">
    <div class="rounded-3 border p-3 shadow d-flex">
      <strong class="text-primary h3">FLASH</strong>
      <button class="btn btn-sm btn-outline-info mb-2" 
              data-bs-toggle="modal" data-bs-target="#flash_modal">
        <i class="material-icons md-small">info</i>
      </button>
      <form id="flashForm" action="flash" method="GET" class="d-flex justify-content-end w-100 mb-2">
        <input type="hidden" value="" name="deckName">
        <input type="hidden" value="" name="deckType">
        <button id="flashButton" type="submit" class="btn btn-primary">Start</button>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="rounded-3 border p-3 shadow d-flex">
      <strong class="text-primary h3">MATCH</strong>
      <button class="btn btn-sm btn-outline-info mb-2" 
              data-bs-toggle="modal" data-bs-target="#match_modal">
        <i class="material-icons md-small">info</i>
      </button>
      <form id="matchForm" action="match" method="GET" class="d-flex justify-content-end form-group w-100 mb-2">

        <select class="form-control" name="backs">
          <option value="" disabled selected>Card Backs</option>
          <option value="colors">Colors</option>
          <option value="numbers">Numbers</option>
          <option value="colorsNumbers">Color & Num.</option>
          <option value="colorsShapes">Color & Shape</option>
          <option value="animals">Animals</option>
          <option value="objects">Objects</option>
        </select>
        <input type="hidden" value="" name="deckName">
        <input type="hidden" value="" name="deckType">
        <button id="matchButton" type="submit" class="btn btn-primary">Start</button>
      </form>
    
    </div>
  </div>

  <div class="col">
    <div class="rounded-3 border p-3 shadow d-flex">
      <strong class="text-primary h3">RECALL</strong>
      <button class="btn btn-sm btn-outline-info mb-2" 
              data-bs-toggle="modal" data-bs-target="#recall_modal">
        <i class="material-icons md-small">info</i>
      </button>

      <form id="recall" action="recall" method="GET" class="d-flex justify-content-end w-100 mb-2">
        <input type="hidden" value="" name="deckName">
        <input type="hidden" value="" name="deckType">
        <button id="recallButton" type="submit" class="btn btn-primary">Start</button>
      </form>
    </div>
  </div>

</div>
<div class="row pt-3">

  <div class="col">
    <div class="rounded-3 border p-3 shadow d-flex">
      <strong class="text-primary h3">BINGO</strong>
      <button class="btn btn-sm btn-outline-info mb-2" 
              data-bs-toggle="modal" data-bs-target="#bingo_modal">
        <i class="material-icons md-small">info</i>
      </button>
      <form id="bingoForm" action="bingo" method="GET" class="d-flex justify-content-end w-100 mb-2">
        <input type="hidden" value="" name="deckName">
        <input type="hidden" value="" name="deckType">
        <button id="bingoButton" type="submit" class="btn btn-primary">Start</button>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="rounded-3 border p-3 shadow d-flex">
      <strong class="text-primary h3">WORDLE</strong>
      <button class="btn btn-sm btn-outline-info mb-2" 
              data-bs-toggle="modal" data-bs-target="#wordle_modal">
        <i class="material-icons md-small">info</i>
      </button>
      <form id="wordleForm" action="wordle" method="GET" class="d-flex justify-content-end w-100 mb-2">
        <input type="hidden" value="" name="deckName">
        <input type="hidden" value="" name="deckType">
        <button id="wordleButton" type="submit" class="btn btn-primary">Start</button>
      </form>
    </div>
  </div>

  <div class="col">
    <div class="rounded-3 border p-3 shadow d-flex">
      <strong class="text-primary h3">REVEAL</strong>
      <button class="btn btn-sm btn-outline-info mb-2" 
              data-bs-toggle="modal" data-bs-target="#reveal_modal">
        <i class="material-icons md-small">info</i>
      </button>
      <form id="reveal" action="reveal" method="GET" class="d-flex justify-content-end w-100 mb-2">

        <select class="form-control" name="style">
          <option value="" disabled selected>Style</option>
          <option value="spotlight">Spotlight</option>
          <option value="blur">Blur</option>
          <option value="pixelate">Pixelate</option>
          <!-- <option value="blinder">Blinder</option> -->
        </select>

        <input type="hidden" value="" name="deckName">
        <input type="hidden" value="" name="deckType">
        <button id="revealButton" type="submit" class="btn btn-primary">Start</button>
      </form>
    </div>
  </div>

</div>


<script>
$(function(){

  $("#flashButton").on('click', ()=>{
    $("#flashForm input[name='deckName']").val(window.deckName);
    $("#flashForm input[name='deckType']").val(window.deckType);
    $("#flashForm").submit();
  });

  $("#matchButton").on('click', ()=>{
    $("#matchForm input[name='deckName']").val(window.deckName);
    $("#matchForm input[name='deckType']").val(window.deckType);
    $("#matchForm").submit();
  });

  $("#wordleButton").on('click', ()=>{
    $("#wordleForm input[name='deckName']").val(window.deckName);
    $("#wordleForm input[name='deckType']").val(window.deckType);
    $("#wordleForm").submit();
  });

  $("#bingoButton").on('click', ()=>{
    $("#bingoForm input[name='deckName']").val(window.deckName);
    $("#bingoForm input[name='deckType']").val(window.deckType);
    $("#bingo").submit();
  });

  $("#recallButton").on('click', ()=>{
    $("#recall input[name='deckName']").val(window.deckName);
    $("#recall input[name='deckType']").val(window.deckType);
    $("#recall").submit();
  });

  $("#revealButton").on('click', ()=>{
    $("#reveal input[name='deckName']").val(window.deckName);
    $("#reveal input[name='deckType']").val(window.deckType);
    $("#reveal").submit();
  });

});
</script>
