<%- include('../head.ejs') -%>
<%- include('menu.ejs') -%>
<div class="container">
  <div class="row">
    <div class="col">
      <div id="tags" class="d-flex flex-wrap"></div>
      <div id="numOfItems"></div>
    </div>

  <%- include('vocab_activities.ejs') -%>
  </div>
</div>

<img id="image" src="" alt="">

<script src="/vocab_decks.js"></script>





<script>
  let c = document.createElement("canvas");
  let ctx = c.getContext('2d');

  let img1 = new Image();
  img1.src = document.getElementById("image1").src;

  img1.onload = function () {
    document.getElementById("image1").remove();

    c.width = w = img1.width;
    c.height = h = img1.height;
    ctx.drawImage(img1, 0, 0);

    var pixelArr = ctx.getImageData(0, 0, w, h).data;
    sample_size = 40;

    for (let y = 0; y < h; y += sample_size) {
      for (let x = 0; x < w; x += sample_size) {
        let p = (x + (y*w)) * 4;
        ctx.fillStyle = `rgba(${pixelArr[p]},${pixelArr[p + 1]},${pixelArr[p + 2]},1)`;
        ctx.fillRect(x, y, sample_size, sample_size);
      }
    }

    let img2 = new Image();
    img2.src = c.toDataURL("image/jpeg");
    img2.width = 200;
    document.body.appendChild(img2);
  };

</script>






<script>
$(function(){

  $(`#vocab-tab`).addClass("active");
  window.deckType = "vocab";

  for (let t in vocab_decks) {
    $("#tags").append(`<div class="form-check">
      <input class="form-check-input" type="radio" name="tags" id="tag_${t}" value="${t}" aria-label="tags">
      <label class="form-check-label me-3" style="margin-left:-5px;" for="tag_${t}">${t} (${vocab_decks[t].length})</label>
    </div>`);
  }

  $("#tags").on("change", (e)=>{
    window.deckName = e.target.value;
  });

});
</script>

<%- include('../foot.ejs') -%>
